In [1]:
import pandas as pd
from os import walk

In [2]:
finalDf = pd.read_csv(r'/Users/clausholm/Desktop/templateDf.csv', sep=';', header=None)

destination = r'/Users/clausholm/Documents/Python/Master_thesis/Data/Dataset_1000_songs/mdna_dataset_pop_songs_germany_2017_2019'

f = []
for (dirpath, dirnames, filenames) in walk(destination):
    f.extend(filenames)
    break
print(f)

['27902699.csv', '27935790.csv', '27956223.csv', '27552143.csv', '27955266.csv', '27895730.csv', '27972815.csv', '27567675.csv', '27941549.csv', '27962390.csv', '27962384.csv', '27966900.csv', '27931694.csv', '27979808.csv', '27938317.csv', '27964454.csv', '27965038.csv', '27966257.csv', '27943772.csv', '21789908.csv', '27563765.csv', '27894017.csv', '27962959.csv', '27569507.csv', '27917336.csv', '20831430.csv', '27545774.csv', '25189096.csv', '27545760.csv', '27936313.csv', '27978732.csv', '27978281.csv', '21307848.csv', '27929031.csv', '27563599.csv', '21371048.csv', '21369607.csv', '27903009.csv', '27947677.csv', '27953616.csv', '27908612.csv', '27565739.csv', '27947850.csv', '23360890.csv', '27546645.csv', '27964079.csv', '27912851.csv', '27949464.csv', '27560457.csv', '27559573.csv', '27962146.csv', '27935793.csv', '21950291.csv', '25140479.csv', '27916604.csv', '27901378.csv', '27949300.csv', '27579138.csv', '27977775.csv', '27936715.csv', '27972816.csv', '27545399.csv', '27955517.csv', '25800347.csv', '27904764.csv', '27974297.csv', '27561398.csv', '27912933.csv', '20894529.csv', '27964655.csv', '27930204.csv', '27956142.csv', '27958386.csv', '27549616.csv', '27921645.csv', '27959932.csv', '23146557.csv', '27936311.csv', '27894997.csv', '27957710.csv', '27941172.csv', '27957704.csv', '27910301.csv', '27571410.csv', '27970387.csv', '27903369.csv', '27902077.csv', '27954542.csv', '27572118.csv', '27935816.csv', '27893035.csv', '27907898.csv', '27894996.csv', '27957711.csv', '27898821.csv', '27545777.csv', '22093042.csv', '27559376.csv', '27929218.csv', '27566409.csv', '27562647.csv', '27908942.csv', '27568395.csv', '27919873.csv', '27934739.csv', '27956816.csv', '27581494.csv', '27980465.csv', '27895726.csv', '27906628.csv', '27559014.csv', '27915318.csv', '27916605.csv', '27981579.csv', '27981237.csv', '27930198.csv', '27974725.csv', '21428761.csv', '21952322.csv', '27938259.csv', '27911813.csv', '27564805.csv', '27568959.csv', '27584932.csv', '24099020.csv', '27931296.csv', '27937340.csv', '27899871.csv', '27553529.csv', '27892717.csv', '27562051.csv', '27952490.csv', '27979167.csv', '20688252.csv', '27971507.csv', '27977189.csv', '.DS_Store', '27962745.csv', '27921640.csv', '27914604.csv', '27949517.csv', '21383024.csv', '27567505.csv', '21622347.csv', '27921697.csv', '27898165.csv', '27905052.csv', '27919453.csv', '27894777.csv', '27956350.csv', '27934258.csv', '27556726.csv', '27582211.csv', '27964447.csv', '27585230.csv', '27564569.csv', '27914361.csv', '27961098.csv', '20653443.csv', '27559165.csv', '27934700.csv', '27570440.csv', '27962397.csv', '27582826.csv', '22480145.csv', '27965407.csv', '27104693.csv', '27545410.csv', '27587037.csv', '27584933.csv', '27549014.csv', '27923136.csv', '27978898.csv', '27583721.csv', '27941957.csv', '27960755.csv', '27557202.csv', '27969015.csv', '27551117.csv', '27902844.csv', '27560309.csv', '27566750.csv', '27545837.csv', '27951213.csv', '27551473.csv', '27934892.csv', '27551329.csv', '27582824.csv', '27582830.csv', '27562734.csv', '27939226.csv', '20608323.csv', '27556532.csv', '27906940.csv', '21254233.csv', '27941821.csv', '27943944.csv', '27915294.csv', '27909865.csv', '27977363.csv', '27906217.csv', '27511490.csv', '27957064.csv', '27569271.csv', '27948150.csv', '27917332.csv', '27915242.csv', '27571417.csv', '27971934.csv', '27573566.csv', '27567507.csv', '21253005.csv', '27921871.csv', '27900698.csv', '20609202.csv', '27951616.csv', '80123993.csv', '27528006.csv', '27936869.csv', '27567705.csv', '27901974.csv', '26906498.csv', '21635229.csv', '27895046.csv', '27576754.csv', '27915108.csv', '27912667.csv', '27560678.csv', '27894370.csv', '25696908.csv', '27913592.csv', '27918389.csv', '27545413.csv', '21250861.csv', '27557598.csv', '27545836.csv', '27934461.csv', '27971129.csv', '27934475.csv', '27973017.csv', '27931224.csv', '27581146.csv', '27545851.csv', '26107216.csv', '27559288.csv', '27923436.csv', '27911484.csv', '27960533.csv', '27892028.csv', '27564451.csv', '21212348.csv', '27961017.csv', '27914488.csv', '27564531.csv', '27567038.csv', '27940768.csv', '27945638.csv', '26022492.csv', '27567776.csv', '27942625.csv', '27951881.csv', '27952350.csv', '27560596.csv', '27960679.csv', '27915580.csv', '27550469.csv', '27545716.csv', '26511708.csv', '27909618.csv', '27545925.csv', '27547868.csv', '27583194.csv', '27971947.csv', '27566118.csv', '27576479.csv', '27966584.csv', '27566119.csv', '27962084.csv', '27965933.csv', '27905037.csv', '27561138.csv', '27893055.csv', '27971749.csv', '27976998.csv', '27937734.csv', '27890004.csv', '27949995.csv', '27945611.csv', '27965258.csv', '27580891.csv', '27560965.csv', '27932472.csv', '27545501.csv', '27905584.csv', '27961189.csv', '21224837.csv', '27890158.csv', '27915152.csv', '27918462.csv', '27578938.csv', '26030652.csv', '27966619.csv', '27978180.csv', '27917553.csv', '27570800.csv', '27584995.csv', '27963213.csv', '27968420.csv', '27891091.csv', '27966425.csv', '27545661.csv', '27551166.csv', '27898062.csv', '27905141.csv', '27583949.csv', '27900777.csv', '27965312.csv', '26020319.csv', '27964018.csv', '21387813.csv', '27563329.csv', '27908897.csv', '27947158.csv', '27566480.csv', '27562816.csv', '27545503.csv', '27903646.csv', '27951100.csv', '27894248.csv', '22222860.csv', '27894506.csv', '25023744.csv', '27545715.csv', '27929534.csv', '27899208.csv', '27915226.csv', '27545926.csv', '27574245.csv', '27556782.csv', '27577764.csv', '27892361.csv', '27957029.csv', '27973835.csv', '26027933.csv', '27947548.csv', '27894063.csv', '27892412.csv', '27586944.csv', '27905020.csv', '27556783.csv', '27959039.csv', '27572147.csv', '27946858.csv', '27899590.csv', '27580460.csv', '27586011.csv', '27957969.csv', '26030080.csv', '27934799.csv', '27556581.csv', '27923583.csv', '27934000.csv', '27543173.csv', '27951840.csv', '27979114.csv', '27546989.csv', '26023771.csv', '27576719.csv', '20730021.csv', '27582854.csv', '27564447.csv', '27957362.csv', '27613105.csv', '27550090.csv', '27566522.csv', '27964025.csv', '27553214.csv', '27583237.csv', '27912831.csv', '22269525.csv', '27903519.csv', '21585709.csv', '27540095.csv', '27901326.csv', '27547705.csv', '27545660.csv', '27901497.csv', '27559275.csv', '27969075.csv', '27946733.csv', '27912376.csv', '21130355.csv', '27933384.csv', '27954479.csv', '27945789.csv', '27932501.csv', '27908886.csv', '27956050.csv', '27949170.csv', '27972680.csv', '27957400.csv', '27931949.csv', '27575228.csv', '27562813.csv', '27545506.csv', '27551215.csv', '27906920.csv', '27580114.csv', '27904104.csv', '27570224.csv', '27919169.csv', '27969667.csv', '27967892.csv', '27586029.csv', '27893913.csv', '21856731.csv', '27946860.csv', '27573261.csv', '27579980.csv', '27920298.csv', '80136642.csv', '27904313.csv', '27892365.csv', '27949575.csv', '27915593.csv', '27894927.csv', '27924014.csv', '20775815.csv', '27548976.csv', '27904105.csv', '27958875.csv', '27539816.csv', '23249268.csv', '27899608.csv', '27934830.csv', '27900559.csv', '27904059.csv', '27912613.csv', '27556433.csv', '27969538.csv', '27911497.csv', '27924362.csv', '27948737.csv', '27941049.csv', '27912377.csv', '27548396.csv', '27904273.csv', '27910206.csv', '27563661.csv', '27937120.csv', '25037655.csv', '27547700.csv', '27938549.csv', '27582462.csv', '27977506.csv', '27896713.csv', '27914710.csv', '27926205.csv', '27970043.csv', '27582660.csv', '27549263.csv', '27909557.csv', '27571065.csv', '27579363.csv', '27570347.csv', '27548021.csv', '27560975.csv', '21911135.csv', '27962533.csv', '27567940.csv', '20615477.csv', '27549471.csv', '27937240.csv', '27263996.csv', '24960853.csv', '27583191.csv', '27908270.csv', '27566108.csv', '27961588.csv', '27549699.csv', '26021362.csv', '27581988.csv', '27972523.csv', '27957947.csv', '27944278.csv', '27951885.csv', '27890773.csv', '27937533.csv', '27976553.csv', '27889356.csv', '27559930.csv', '27577401.csv', '27554555.csv', '27943488.csv', '27916890.csv', '27939683.csv', '27956250.csv', '27901308.csv', '27912374.csv', '27571299.csv', '27896921.csv', '25662430.csv', '18166602.csv', '27978177.csv', '27930655.csv', '27927329.csv', '27931239.csv', '27564100.csv', '27561722.csv', '27579390.csv', '27921572.csv', '27965456.csv', '27966611.csv', '26998194.csv', '27581403.csv', '27979094.csv', '27925927.csv', '27934180.csv', '27548039.csv', '27560789.csv', '27940749.csv', '27594185.csv', '27577550.csv', '21203304.csv', '27542702.csv', '27606891.csv', '27943042.csv', '27957779.csv', '27894040.csv', '20644393.csv', '27965907.csv', '27549870.csv', '27569551.csv', '27583639.csv', '27971754.csv', '21568516.csv', '21083740.csv', '25777390.csv', '27947755.csv', '27926426.csv', '27977127.csv', '27552074.csv', '27938630.csv', '27921413.csv', '27550111.csv', '27908888.csv', '27908877.csv', '27936027.csv', '27544004.csv', '27545468.csv', '27546607.csv', '21948887.csv', '27956260.csv', '27896736.csv', '27949426.csv', '27980632.csv', '27549939.csv', '26022934.csv', '27953456.csv', '27913099.csv', '27953481.csv', '27964575.csv', '27904295.csv', '27561084.csv', '27891067.csv', '27956262.csv', '27555490.csv', '27946071.csv', '27900756.csv', '27949430.csv', '27941285.csv', '27586347.csv', '27979068.csv', '27936970.csv', '27569157.csv', '25051046.csv', '25026580.csv', '27934183.csv', '27942773.csv', '27575230.csv', '27552076.csv', '27554361.csv', '27921411.csv', '27908732.csv', '27528043.csv', '27897990.csv', '27546567.csv', '27928637.csv', '27961237.csv', '27897589.csv', '27891113.csv', '27908256.csv', '27558956.csv', '27570758.csv', '27563719.csv', '27978997.csv', '21104176.csv', '27957790.csv', '27952415.csv', '27559693.csv', '27915951.csv', '21254289.csv', '27567635.csv', '21252997.csv', '24658887.csv', '27908135.csv', '27958064.csv', '27915170.csv', '27570361.csv', '27548615.csv', '27545457.csv', '27547240.csv', '27546610.csv', '27909001.csv', '27565208.csv', '21251939.csv', '27931549.csv', '22236558.csv', '27549721.csv', '27579184.csv', '27896916.csv', '27933366.csv', '27559293.csv', '27545862.csv', '27570167.csv', '27924342.csv', '27930337.csv', '27546614.csv', '27947168.csv', '27907558.csv', '27951865.csv', '26176755.csv', '27912974.csv', '27971223.csv', '27963814.csv', '27912021.csv', '21383264.csv', '27926384.csv', '27960662.csv', '27776431.csv', '21609619.csv', '27926145.csv', '18163163.csv', '27545916.csv', '27579989.csv', '27962920.csv', '27897572.csv', '27545917.csv', '27954263.csv', '27584144.csv', '27934568.csv', '27582247.csv', '27583159.csv', '27956892.csv', '27550856.csv', '27892620.csv', '27949965.csv', '25671724.csv', '27557644.csv', '27926352.csv', '27964798.csv', '27919029.csv', '27963975.csv', '21725053.csv', '27586357.csv', '27908681.csv', '27555641.csv', '27976411.csv', '27555133.csv', '27898735.csv', '27564661.csv', '27911111.csv', '27975483.csv', '27906337.csv', '27410123.csv', '27890396.csv', '27896083.csv', '27567381.csv', '27953485.csv', '27579183.csv', '27975442.csv', '27551182.csv', '27980622.csv', '27553781.csv', '27979287.csv', '25768854.csv', '27898737.csv', '27545861.csv', '27910782.csv', '27916481.csv', '27545444.csv', '27553597.csv', '22011399.csv', '27566538.csv', '27913506.csv', '27547441.csv', '27548982.csv', '27559657.csv', '27923566.csv', '27942826.csv', '27570574.csv', '27977309.csv', '27553622.csv', '27930730.csv', '27776432.csv', '25162703.csv', '27550471.csv', '27968215.csv', '27977453.csv', '27968573.csv', '26021356.csv', '27980971.csv', '27943084.csv', '27563722.csv', '21308056.csv', '27917402.csv', '27975287.csv', '27565408.csv', '27549684.csv', '27576474.csv', '27900631.csv', '27917359.csv', '27584621.csv', '27948846.csv', '27950238.csv', '27585932.csv', '27910146.csv', '27945609.csv', '27947778.csv', '21124897.csv', '27567141.csv', '27562987.csv', '27546825.csv', '27925923.csv', '25806997.csv', '27943481.csv', '27545445.csv', '27553227.csv', '27558366.csv', '27545860.csv', '27545874.csv', '21585706.csv', '27916899.csv', '27902860.csv', '27546467.csv', '27921713.csv', '27963246.csv', '24994349.csv', '27977582.csv', '27939821.csv', '27893638.csv', '27896740.csv', '27583908.csv', '27550007.csv', '22321509.csv', '27565080.csv', '27936723.csv', '27583505.csv', '27979020.csv', '27585835.csv', '27565719.csv', '27908632.csv', '27557783.csv', '27266077.csv', '27916587.csv', '27920021.csv', '27565651.csv', '27939028.csv', '27975578.csv', '27579913.csv', '27585216.csv', '27558063.csv', '27949518.csv', '27547194.csv', '27577725.csv', '27954574.csv', '27908551.csv', '27939954.csv', '27962944.csv', '27969622.csv', '27926647.csv', '27926121.csv', '27914805.csv', '27550416.csv', '27949055.csv', '27940071.csv', '27942672.csv', '21393775.csv', '27918226.csv', '27575319.csv', '27564572.csv', '27977178.csv', '23675865.csv', '27585983.csv', '27923501.csv', '27958992.csv', '27957323.csv', '27895704.csv', '21212337.csv', '27565081.csv', '27555397.csv', '27969959.csv', '27545812.csv', '27548311.csv', '27917288.csv', '24069444.csv', '27561973.csv', '27584055.csv', '27969768.csv', '27566978.csv', '27965146.csv', '27928708.csv', '27551656.csv', '27560460.csv', '27926916.csv', '27565530.csv', '20790968.csv', '27962359.csv', '27567870.csv', '27980486.csv', '27936734.csv', '27567694.csv', '27560676.csv', '27568564.csv', '27929984.csv', '27551508.csv', '27914387.csv', '27949731.csv', '22015788.csv', '27571141.csv', '27938447.csv', '27926123.csv', '27944995.csv', '27957725.csv', '27545794.csv', '27577726.csv', '27980727.csv', '27889717.csv', '27902043.csv', '27892444.csv', '27580387.csv', '27566170.csv', '27965782.csv', '27894948.csv', '27968259.csv', '27963442.csv', '27947292.csv', '27554673.csv', '20607220.csv', '27908778.csv', '27949056.csv', '22548651.csv', '80130089.csv', '27552028.csv', '27903981.csv', '27568203.csv', '27545385.csv', '27575246.csv', '26024855.csv', '27917076.csv', '27565069.csv', '27569135.csv', '27906184.csv', '27934888.csv', '27935572.csv', '27968661.csv', '27573804.csv', '27892915.csv', '27553929.csv', '27541493.csv', '27545805.csv', '27557554.csv', '27972413.csv', '27963244.csv', '27545626.csv', '27571597.csv', '27574389.csv', '26619579.csv', '27969792.csv', '27547970.csv', '27917270.csv', '27962360.csv', '27551323.csv', '27581314.csv', '20646668.csv', '27575524.csv', '27915881.csv', '27561223.csv', '27894435.csv', '27576011.csv', '27917700.csv', '27907507.csv', '27559179.csv', '27964103.csv', '27586527.csv', '27571805.csv', '27577521.csv', '27565131.csv', '27895677.csv', '27938683.csv', '27943231.csv', '27567295.csv', '27938318.csv', '27946188.csv', '27957708.csv', '27567530.csv', '27952116.csv', '27566174.csv', '27894019.csv', '18050508.csv', '27909649.csv', '27571421.csv', '27549627.csv', '27965036.csv', '27891835.csv', '27919894.csv', '27899702.csv', '27561430.csv', '27975999.csv', '27979153.csv', '27973318.csv', '20646047.csv', '27936122.csv', '27539713.csv', '27898568.csv', '27981039.csv', '27910052.csv', '27968664.csv', '27553253.csv', '27587764.csv', '27556459.csv', '27545814.csv', '21140815.csv', '27553910.csv', '27976894.csv', '27582378.csv', '27896786.csv', '27557553.csv', '27974717.csv', '27950689.csv', '27582352.csv', '27896989.csv', '27941035.csv', '27957125.csv', '27906183.csv', '27552615.csv', '27955295.csv', '27567889.csv', '27547581.csv', '27902454.csv', '27915100.csv', '27575269.csv', '27959478.csv', '27569654.csv', '27915114.csv', '27539705.csv', '25775251.csv', '27912082.csv', '27904145.csv', '27891374.csv', '27548507.csv', '27933500.csv', '27910326.csv', '27889705.csv', '27917307.csv', '27948171.csv', '27911004.csv', '27558098.csv', '27571350.csv', '27907897.csv', '27545778.csv', '27920541.csv', '27919883.csv', '27955445.csv', '27938681.csv', '27977196.csv', '27904144.csv', '27577537.csv', '27972993.csv', '21884347.csv', '27934736.csv', '23474278.csv', '22934063.csv', '27901612.csv', '27569641.csv', '27968854.csv', '27553287.csv', '27931712.csv', '27978474.csv', '27586323.csv', '27949859.csv', '27547966.csv', '27565537.csv', '27563146.csv', '27936280.csv', '22084492.csv', '27935762.csv', '27580544.csv', '27957695.csv', '27580236.csv', '25679052.csv']

In [3]:
#df = pd.read_csv('/Users/clausholm/Documents/Python/Master_thesis/Data/Dataset_1000_songs/mdna_dataset_pop_songs_germany_2017_2019/20646047.csv', sep=';', header=None)
#df.head()

In [4]:
#i = f[1]
f.remove('.DS_Store')

for i in f:

    #print(i)


        
    # Import .csv-file
    df = pd.read_csv (destination+"/"+i,sep=';', header=None)
    

    #artist = df.Artist[0]
    #title = df.Title[0]

    #print(artist)

    #try:
    #    df = df.drop(columns=['Column0', 'Column1','Column2','Column3','Column4','Column5','Column6','Column7'])

    #except:
    #    print("no ekstra columns")

    #df = df.drop(columns=['Artist','ISRC','Duration','Title','City','Country'])

    pivotDf = df

    #df['DateTime'] = df['DateTime'].str[:10]
    #df['Play'] = 1

    df['DateTime'] = df[0].astype('datetime64[ns]')

    pivotDf = pivotDf.pivot_table(index='DateTime')

    pivotDf.fillna(0,inplace=True)
    pivotDf = pivotDf.astype(int)

    #pivotDf.columns = pivotDf.columns.droplevel(0) #remove amount
    pivotDf.columns.name = None               #remove categories
    pivotDf = pivotDf.reset_index()                #index to columns

    pivotDf['DateTime'] = pivotDf['DateTime'].astype('datetime64[ns]')

    minVal = pivotDf['DateTime'].min()

    d = {'Date': [minVal]} #,'TotalPlays':[""]
    emptyDf = pd.DataFrame(data=d)
    emptyDf['Date'] = emptyDf['Date'].astype('datetime64[ns]')

    while len(emptyDf) < 180:
        maxVal = emptyDf['Date'].max()+pd.DateOffset(days=1)
        row = pd.Series([maxVal], index=['Date']) #, 'TotalPlays'
        emptyDf = emptyDf.append(row, ignore_index=True)


    emptyDf.reset_index()
    emptyDf = emptyDf.set_index('Date')
    df = df.set_index('DateTime')

    resultDf = pd.concat([df, emptyDf], axis=1) #, join='inner'
    resultDf.fillna(0,inplace=True)
    resultDf = pd.DataFrame(resultDf[1])
    #resultDf.rename(columns={0: "Artist"})
    
    resultDf = resultDf.astype(int)
    name = i[:-4]
    resultDf.rename(columns={1: str(name)})
    #resultDf = resultDf.drop(columns=0, axis=1)
    resultDf = resultDf.reset_index()
    
    result2Df = resultDf
    result2Df[str(name)] = resultDf[1]
    result2Df = result2Df.drop(columns=['index',1])
    #result2Df.rename(columns={"Artist": str(name)})
    #print(resultDf[1])
    result2Df = result2Df.T
    finalDf = finalDf.append(result2Df, sort=False)
    #finalDf = pd.concat([finalDf, result2Df], axis=1, join='inner') 
    print(result2Df.head())
    
    #resultDf.insert(loc=1, column='ID', value=name)

    #resultDf.to_excel(destination + "/Cleaned/" + name + ".xlsx")

    #resultDf
finalDf = finalDf.iloc[1:]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27902699   26   31   29   80   34   62   38   33   33   22  ...    1   46

          172  173  174  175  176  177  178  179
27902699    1    0    0    0    0    8    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27935790    1    2    2    1    2    2    1    2    2    1  ...    3    3

          173  174  175  176  177  178  179  180
27935790    2    3    2    3    2    1    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27956223    1    1    3    1    0    1    0    1    0    3  ...    0    0

          172  173  174  175  176  177  178  179
27956223    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27552143    1    1    0    0    1    0    1    0    1    1  ...    1    0

          173  174  175  176  177  178  179  180
27552143    1    0    1    2    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27955266    4    0    3    2    8    6    9    9   10    7  ...    2    0

          172  173  174  175  176  177  178  179
27955266    1    1    0    0    1    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27895730   67   88  117  146  133  209  273  324  386  354  ...  359  329

          173  174  175  176  177  178  179  180
27895730  328  389  386  344  335  407  370   60

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27972815    3    0    6    1    2    3    3    3    1    1  ...    2    4

          173  174  175  176  177  178  179  180
27972815    3    3    3    4    2    3    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567675    5    2    4   15   24   38   42   52   54   52  ...   67   69

          173  174  175  176  177  178  179  180
27567675   72   86  105   89  109   72   72   52

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27941549    6    6   10   21   28   33   37   42   43   46  ...    0    2

          172  173  174  175  176  177  178  179
27941549    0    1    0    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962390    1    0    6    5   10   13   18   16   14   13  ...    1    0

          172  173  174  175  176  177  178  179
27962390    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962384    4    5    5    4    4    2    2    2    1    3  ...    0    0

          172  173  174  175  176  177  178  179
27962384    0    1    1    0    1    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966900   11    5    7    4    2    4    2    2    3    7  ...    1    8

          172  173  174  175  176  177  178  179
27966900    3    4    2    4    0    3    6    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27931694   21   24   20   22   16   22   21   20   22   20  ...   11    9

          173  174  175  176  177  178  179  180
27931694    6    8    6    5    3    5    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979808    5    0    4    5    6    6   14    3   14   12  ...    0    0

          172  173  174  175  176  177  178  179
27979808    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938317   18    1    0    1    2    0    1    0    2    1  ...    8    9

          172  173  174  175  176  177  178  179
27938317    7    8    9    6    4    5    5    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27964454    3    1    2    0    6    7    9    8    9   10  ...    2    2

          173  174  175  176  177  178  179  180
27964454    0    2    3    4    1    2    4    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27965038    2    0    0    1    1    5    6    7    6    6  ...    0    0

          172  173  174  175  176  177  178  179
27965038    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966257    2    0    2    1    4    6   10   12   11    9  ...    1    0

          172  173  174  175  176  177  178  179
27966257    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27943772    2    8   11   11   12    6    0   10   11    9  ...    0    0

          172  173  174  175  176  177  178  179
27943772    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21789908    5    4    2    7    8   14   15   13   13   16  ...    5    5

          173  174  175  176  177  178  179  180
21789908    4    5    2    7    1    3    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27563765    1    2   10   10    7    7    7    6   11    6  ...    0    1

          173  174  175  176  177  178  179  180
27563765    1    0    0    0    0    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894017    1    1    8    5    6    6    4    5    2    5  ...    2    2

          172  173  174  175  176  177  178  179
27894017    4    4    2    1    3    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962959   22   22   19   18   14   13   16   13   17    8  ...    0    2

          172  173  174  175  176  177  178  179
27962959    0    0    0    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27569507    2    8   12   15   20   25   32   33   31   37  ...    6    8

          173  174  175  176  177  178  179  180
27569507    2   12    6    5    6    9    7    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917336    1    0    1    3    1    2    3    1    3    2  ...    3    2

          172  173  174  175  176  177  178  179
27917336    2    3    2    0    3    0    3    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20831430    1    0    0    0    0    0    0    0    0    0  ...    2    2

          172  173  174  175  176  177  178  179
20831430    0    0    0    2    1    2    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545774    2    1    2    2    3    1    6    1    1    2  ...    2    1

          173  174  175  176  177  178  179  180
27545774    0    3    0    0    2    0   15    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25189096    1    1    2    1    1    1    2    1    1    3  ...    1    0

          172  173  174  175  176  177  178  179
25189096    1    1    1    3    1    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545760    6    6    6   11   16   13   26   21   28   41  ...   35   23

          173  174  175  176  177  178  179  180
27545760   26   26   24   36   36   25   23   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936313    5    8   13   28   27   35   22   37   35   33  ...    4    6

          172  173  174  175  176  177  178  179
27936313    3    4    7    3    3    3    5    4

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978732   37   50   55   53   71   73   64   84   78   87  ...    0    0

          172  173  174  175  176  177  178  179
27978732    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978281    3    2    2    0    0    1    0    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27978281    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21307848   76   51  105   49   87   63   67   92   58  110  ...   78  113

          173  174  175  176  177  178  179  180
21307848   90   86   82   77   66  122  117   11

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27929031    1    0    0    0    1    3   10   19    8    9  ...    0    0

          172  173  174  175  176  177  178  179
27929031    1    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27563599    9    9   10    9    8    9   10   17   22   21  ...    3    0

          172  173  174  175  176  177  178  179
27563599    1    0    1    1    0    0    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21371048    2    3    2    3    2    1   12    2    2    3  ...    4    5

          172  173  174  175  176  177  178  179
21371048    3    2    3   11    7    1    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21369607    2    0    0    2    2    3    4    1    2    1  ...    2    4

          172  173  174  175  176  177  178  179
21369607    3    2    1    2    0    4    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27903009   14   21   19   23   20   23   30   28   29   26  ...    0    0

          172  173  174  175  176  177  178  179
27903009    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27947677    1    6    0    0    0    4    7    8    8    9  ...    4    2

          173  174  175  176  177  178  179  180
27947677    4    4    3    4    9    2    5    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27953616    2    2    2    2    5    1    3    4    2    3  ...    5    4

          173  174  175  176  177  178  179  180
27953616    7    5    5    3    7    6    5    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908612   34   38   31   56   64   75   70   69   63   92  ...  213  211

          173  174  175  176  177  178  179  180
27908612  198  219  195  193  198  208  220   36

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27565739    1    0    3    0    0    0    1   11    5   12  ...    1    3

          172  173  174  175  176  177  178  179
27565739    2    1    1    0    0    2    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27947850    3    4    8    5    5    5    4    5    5    4  ...    0    0

          172  173  174  175  176  177  178  179
27947850    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
23360890    1    1    2    0    2    1    2    2    1    1  ...    2    1

          172  173  174  175  176  177  178  179
23360890    1    1    1    1    1    1    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27546645    1    0    1    1    1    0    2    0    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27546645    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27964079    4    4    3    3    4    2    4    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27964079    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27912851    3    5   11   35   47   18   20   29   34   32  ...    8    7

          173  174  175  176  177  178  179  180
27912851    8    8    7    8    9    6    7    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949464    2    4    1    1    4    3    2    2    1    3  ...    0    0

          172  173  174  175  176  177  178  179
27949464    0    0    0    1    0    2    3    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560457    4    1    2   20   26   36   61   63   48   47  ...   20   22

          172  173  174  175  176  177  178  179
27560457   17   19   17   34   17   15   23   18

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559573    1    1    0    1    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27559573    1    1    0    1    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962146    1    1    2    0    2    1    1    3    3    3  ...    1    0

          172  173  174  175  176  177  178  179
27962146    0    1    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27935793    3    2    2    2    3    1    0    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27935793    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21950291   25   37   34   37   36   29   28   34   32   29  ...   23   28

          173  174  175  176  177  178  179  180
21950291   28   27   34   22   28   38   25    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25140479    2    0    1    2    0    0    2    0    2    1  ...    2    2

          172  173  174  175  176  177  178  179
25140479    2    2    1    2    2    2    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27916604    1    0    0    1    1    1    3    1    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27916604    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27901378    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27901378    1    1    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949300    9   10   16   24   28   27   35   37   40   45  ...   15   16

          173  174  175  176  177  178  179  180
27949300   15   19   12   18   12    8    8    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27579138    1   11    1    2   21   35   36   36   40   36  ...    1    0

          172  173  174  175  176  177  178  179
27579138    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977775    1    0    0    0    0    0    3    3    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27977775    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936715    1    0    4    5   39   53    5    5    5   53  ...    0    0

          172  173  174  175  176  177  178  179
27936715    0    1    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27972816    1    0    0    0    0    0    1    2    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27972816    0    1    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545399    1    0    1    1    1    3    1    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27545399    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27955517    3    0    0    0    0    0    0    0    0    0  ...    0    2

          173  174  175  176  177  178  179  180
27955517    1    0    2    1    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25800347  112   94   84   85   93  122   99  129   79   94  ...  156   95

          173  174  175  176  177  178  179  180
25800347  100  105  122  112   95  111  100   62

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27904764    1    0    3    0    1    2    0    3    7    5  ...    1    0

          172  173  174  175  176  177  178  179
27904764    1    0    0    2    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27974297    6    5    2    9   10    5    5   11    5   17  ...   18   19

          172  173  174  175  176  177  178  179
27974297    6   17    3   21   20   12    7    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27561398    2   13   38   32   39   37   39   34   34   32  ...   26   28

          173  174  175  176  177  178  179  180
27561398   27   26   23   23   22   22   30    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912933    1    0    1    0    0    0    0    3    2    1  ...    1    0

          172  173  174  175  176  177  178  179
27912933    1    1    0    1    1    1    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20894529    2   11    4    6    9    9    8   12   10    8  ...    7   11

          173  174  175  176  177  178  179  180
20894529    5    9    7    4    7    7    9    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27964655   99  113  135  236  228  163  216  244  272  228  ...  491  534

          173  174  175  176  177  178  179  180
27964655  470  510  448  432  502  472  449   88

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27930204    9   10   13    8   11   11   14   13    9   12  ...    2    0

          172  173  174  175  176  177  178  179
27930204    1    2    3    2    1    2    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27956142    2    1    3    8   14   14   15   13   15   14  ...    1    0

          172  173  174  175  176  177  178  179
27956142    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27958386    1    0    0    0    0    0    0    1    1    3  ...    2    1

          173  174  175  176  177  178  179  180
27958386    1    0    0    1    1    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27549616    1    2    0    0    1    2    2    3    2    3  ...    2    2

          172  173  174  175  176  177  178  179
27549616    3    3    2    2    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27921645    1    0    1    2    5    9    9    8    8    8  ...    0    0

          173  174  175  176  177  178  179  180
27921645    0    0    0    0    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27959932    2    4    5   11   10   20   45   12   14   14  ...   22   19

          173  174  175  176  177  178  179  180
27959932   21   24   24   22   19   14   13    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
23146557    1    1    0    1    0    0    0    2    2    0  ...    0    0

          172  173  174  175  176  177  178  179
23146557    0    2    0    2    1    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936311   14   38   44   48   53   52   64  115  118   88  ...    7    8

          172  173  174  175  176  177  178  179
27936311    8    9    6    7    8    8    6    8

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894997    1    5    0    0    0    0    1    2    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27894997    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957710    1    3    6    9   10   16   17   15   17   16  ...    4    5

          172  173  174  175  176  177  178  179
27957710    2    2    3    2    1    4    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27941172    1    1    0    0    3    5    9   10   10   11  ...    2    0

          172  173  174  175  176  177  178  179
27941172    2    1    1    1    2    0    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957704    1    0    0    0    0    0    0    0    1    0  ...    1    0

          172  173  174  175  176  177  178  179
27957704    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27910301    2    2    2    3    0    2    4    1    0    0  ...    2    3

          172  173  174  175  176  177  178  179
27910301    2    2    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27571410    5    5    8    5    4    4    9    7    8    9  ...    0    0

          172  173  174  175  176  177  178  179
27571410    0    0    1    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27970387    4    0    8    9   10   10   10   14   10   12  ...    0    1

          172  173  174  175  176  177  178  179
27970387    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27903369    6   11   14   30   31   33   31   24   20   18  ...    2    2

          172  173  174  175  176  177  178  179
27903369    3    2    3    2    2    3    4    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27902077    1   16   16   27   28   29   34   39   44   37  ...   19   13

          173  174  175  176  177  178  179  180
27902077   14   10   15   11   22   16   20    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27954542    1    1    0    0    1    2    4    0    6   29  ...    0    0

          172  173  174  175  176  177  178  179
27954542    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27572118    1    0    4    2    4    0    1    7   11   16  ...    2    3

          173  174  175  176  177  178  179  180
27572118    0    2    0    1    3    0    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27935816    1    3    3    3    3    2    4    4    8    8  ...    2    1

          173  174  175  176  177  178  179  180
27935816    1    2    1    1    1    2    1    1

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27893035    1    1    2    5    8   14   16   18   36   20  ...    0    0

          172  173  174  175  176  177  178  179
27893035    0    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27907898    4    7   11   10   13   13   11   15   12   14  ...    3    3

          172  173  174  175  176  177  178  179
27907898    4    2    2    2    2    5    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894996    5    4    5    5    5    5    4    5    3    4  ...    2    0

          172  173  174  175  176  177  178  179
27894996    1    2    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27957711    2    3    5    4    6    4    5    8    2    2  ...    5    1

          173  174  175  176  177  178  179  180
27957711    1    3    1    5    2    2    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27898821    1    1    1    0    1    2   39    1    8    1  ...   13   14

          172  173  174  175  176  177  178  179
27898821   13   13   11   16   11   15    4    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545777    5    0    7    4    1    2    4    2    4    8  ...    0    1

          172  173  174  175  176  177  178  179
27545777    2    1    0    2    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
22093042   15   15   61   21   23   22   18   29   20   24  ...   30   32

          173  174  175  176  177  178  179  180
22093042   29   31   30   29   27   29   28    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27559376    4    5    8   18   25   23   33   24   18   32  ...    3    5

          173  174  175  176  177  178  179  180
27559376    6    3    5    4    4    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27929218    6    2    1    3    2    1    2    3    8    4  ...    0    0

          173  174  175  176  177  178  179  180
27929218    0    0    0    3    5    5    6    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27566409   18   18   32   37   35   42   55   47   44   57  ...   49   43

          173  174  175  176  177  178  179  180
27566409   47   45   44   49   49   44   44    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27562647    2    9    9    4    3   11   14   13   15   12  ...    1    3

          172  173  174  175  176  177  178  179
27562647    0    0    0    1    2    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908942    2    0    0    2    0    0    0    0    2    0  ...    0    0

          172  173  174  175  176  177  178  179
27908942    0    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27568395    2    1    5    5   11    8   15   12   15   11  ...    1    0

          172  173  174  175  176  177  178  179
27568395    2    0    1    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27919873   62   49   55   72   36   29   65   63   73   59  ...   37   37

          173  174  175  176  177  178  179  180
27919873   47   40   46   38   24   45   62   14

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934739    4   10   17   19   19   19   18   20   10    3  ...    6    4

          173  174  175  176  177  178  179  180
27934739    4    7    6    6    4    5    5    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27956816    1    0    8    8    8    6    8    5    9    8  ...    0    1

          173  174  175  176  177  178  179  180
27956816    1    2    0    1    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27581494    1    1    0    1   18   11   13   12   14   12  ...    9    9

          172  173  174  175  176  177  178  179
27581494   10   10    3    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980465    2    6   13    9   11   19   24   23   37   46  ...    0    0

          172  173  174  175  176  177  178  179
27980465    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27895726    2    5    5    6    6    8    6   10    7   19  ...    3    1

          172  173  174  175  176  177  178  179
27895726    0    0    1    0    4    1    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27906628   25   26   20   17   12   16   13   13   10   17  ...    5    3

          172  173  174  175  176  177  178  179
27906628    2    4    3    2    3    2    3    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27559014    1    1    0    1    2    3    2    2    2    3  ...    0    1

          173  174  175  176  177  178  179  180
27559014    1    0    1    1    1    1    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915318    1    0    0    0    0    0    1    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27915318    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27916605   29   35   26   27   17   26   40   30   25   31  ...    5    5

          173  174  175  176  177  178  179  180
27916605    8    2    3    5    7    8    8    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27981579    3    0    1    0    0    0    1    1    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27981579    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27981237    1    4    3    4    4    3    2    2    0    3  ...    0    0

          172  173  174  175  176  177  178  179
27981237    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27930198   10   29   32   51   48   54   52   28   45   66  ...   45   49

          173  174  175  176  177  178  179  180
27930198   49   41   45   34   37   38   36    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27974725    3    8    7   15   16   17   29   41   38   39  ...    0    0

          172  173  174  175  176  177  178  179
27974725    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21428761    4    5    4    6    2    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
21428761    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21952322   12   20   14   28   20   15   17   21   19   18  ...   11   10

          173  174  175  176  177  178  179  180
21952322    9   11   11   30   13   17    7    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938259    5    5    6    7    4    6    5    5    5    4  ...    2    0

          172  173  174  175  176  177  178  179
27938259    1    0    0    0    1    1    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27911813    1    2    2    1    3    2    1    2    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27911813    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27564805    2    0    0    0    0    0    0    1    0    1  ...    1    0

          172  173  174  175  176  177  178  179
27564805    1    2    1    2    0    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27568959    2    0    0    0    0    0    0    2    2    6  ...    2    2

          172  173  174  175  176  177  178  179
27568959    1    1    2    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27584932    2    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27584932    0    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
24099020   17   29   17   15   16   28   10   23    9   12  ...   15   41

          173  174  175  176  177  178  179  180
24099020   14   14   15   15   13   19   21    8

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27931296    2    2    0    1    1    2    1    1    1    2  ...   15   18

          172  173  174  175  176  177  178  179
27931296   14   24   20   11    5   13    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27937340    2    3    3    3    3    3    2    2    3    3  ...    2    1

          172  173  174  175  176  177  178  179
27937340    2    0    1    2    1    2    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27899871    1    0    2    3    5    1    3    9    4    4  ...    0    0

          172  173  174  175  176  177  178  179
27899871    0    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553529    3    3    3    3    8   14   10   11   13   13  ...    1    1

          172  173  174  175  176  177  178  179
27553529    2    0    1    1    1    2    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27892717    2    2    9    6    3    4    4    3   16   26  ...    1    1

          172  173  174  175  176  177  178  179
27892717    0    2    1    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27562051   24   33   42   45   67   52   46   70   32   79  ...   12   17

          173  174  175  176  177  178  179  180
27562051   15   17   22   18   16   18   19    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27952490    1    0    0    0    0    0    0    0    0    0  ...    4    6

          172  173  174  175  176  177  178  179
27952490    2    1    1    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979167    2    2    4    2    6    8    9    7    4   10  ...    0    0

          172  173  174  175  176  177  178  179
27979167    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20688252    1    8    2    5    3    3    4    2    4    4  ...    1    1

          172  173  174  175  176  177  178  179
20688252    1    0    2    2    1    3    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971507    2    2    1    1    2    1    2    1    0    1  ...    0    4

          173  174  175  176  177  178  179  180
27971507    3    4    4    4    4    3    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977189    1    6    8   13   15   15   15   15   19   16  ...    0    0

          172  173  174  175  176  177  178  179
27977189    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962745    1    0    1    2    3    6    3    5    5    2  ...    1    3

          172  173  174  175  176  177  178  179
27962745    2    2    2    2    3    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27921640    1    3    0    0    3    3    2    1    2    0  ...    0    0

          172  173  174  175  176  177  178  179
27921640    0    1    0    1    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27914604    2    2    0    1    1    2    2    2    4    5  ...    0    0

          172  173  174  175  176  177  178  179
27914604    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949517    3    2    0    0    3    3    4    3    0    3  ...    0    0

          172  173  174  175  176  177  178  179
27949517    1    0    1    0    0    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21383024   27   28   30   35   24   22   28   32   22   24  ...   31   32

          173  174  175  176  177  178  179  180
21383024   33   39   33   40   52   33   40   11

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567505    5    0    8    5    8    8    7    7   11    8  ...    0    2

          173  174  175  176  177  178  179  180
27567505    2    2   32    2    2    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21622347    2    5    2    6    3    5    1    5    5    3  ...    6    2

          172  173  174  175  176  177  178  179
21622347   11    7    3   12   15    2    2    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27921697    3   11    9   10    8   14   13    8   13   12  ...   10   13

          173  174  175  176  177  178  179  180
27921697   12   11   10   10   12   11   12    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27898165    2   10    9   12   10   20   23   19   22   19  ...    4    4

          173  174  175  176  177  178  179  180
27898165    5    3    3    3    4    4    7    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27905052    1    2    2    2    2    4    3    7    6    6  ...    6    4

          173  174  175  176  177  178  179  180
27905052    6    6    4    6    5    4    7    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27919453    1    0    1    1    5    2    3    6   10    9  ...    0    1

          172  173  174  175  176  177  178  179
27919453    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894777   12    8   11    8   10   10    9    9    9   15  ...    5    3

          172  173  174  175  176  177  178  179
27894777    5    5    4    2    4    3    3    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27956350    3    4    4    4    4    4    4    5    5    6  ...    0    0

          172  173  174  175  176  177  178  179
27956350    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27934258    1    3    2    1    2    2    1    2    2    2  ...    0    1

          172  173  174  175  176  177  178  179
27934258    0    1    0    1    0    0    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27556726    6    6    9    5    8   10   10    7   10    7  ...    5    3

          172  173  174  175  176  177  178  179
27556726    9    6    5    3    4    5    7    7

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27582211    1    0    0    1    2    2    4    2    1    2  ...    0    0

          172  173  174  175  176  177  178  179
27582211    0    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27964447    3    4    2    7    4    0    2    0    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27964447    1    0    0    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27585230    9   11   14   12   11   27   14   22   22   21  ...   11    9

          173  174  175  176  177  178  179  180
27585230   11    6   10   10    9   11    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27564569    2    0    0    0    0    0    0    0    0    0  ...    2    3

          173  174  175  176  177  178  179  180
27564569    3    0    1    4    3    3    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27914361    5    7   11   17   11   10   13   12   11   15  ...    6    5

          173  174  175  176  177  178  179  180
27914361    8    6   10    4    7    6    6    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27961098    2    3    3   11   43   45   51    8   56   10  ...    0    0

          172  173  174  175  176  177  178  179
27961098    0    1    0    0    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20653443    2    4    3    2    3    3    1    3    3    0  ...    2    2

          172  173  174  175  176  177  178  179
20653443    3    2    3    2    1    3    3    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559165    1    7   25   43   50   50   53   63   70   55  ...    1    3

          172  173  174  175  176  177  178  179
27559165    1    2    0    0    0    1    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934700    5    6   16   21   30   33   30   51   64   65  ...   25   34

          173  174  175  176  177  178  179  180
27934700   41   32   52   37   32   34   35    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27570440    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27570440    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962397    3    4    3    3    2    2    4    4    4    3  ...    0    2

          172  173  174  175  176  177  178  179
27962397   14    1    2   10    2    2    4    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27582826    1    0    0    0    0    0    0    0    1    1  ...    2    2

          173  174  175  176  177  178  179  180
27582826    2    2    2    2    2    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
22480145   31   44   40   33   29   30   32   28   36   33  ...   33   39

          173  174  175  176  177  178  179  180
22480145   34   37   78   35   30   42   34    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27965407    9   13   13   21   21   23   27   19   23   18  ...    1    3

          173  174  175  176  177  178  179  180
27965407    1    3    2    0    2    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27104693    2    3    0    0    1    3    3    2    5    6  ...    0    0

          172  173  174  175  176  177  178  179
27104693    1    0    0    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545410    1   16   10   10    8    9    9    9    8    9  ...    4    3

          173  174  175  176  177  178  179  180
27545410    6    4    5    3    5    4    5    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27587037    5    3    6    3    4    6    5    2    2    1  ...    1    0

          172  173  174  175  176  177  178  179
27587037    0    0    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27584933   11   22   23   25   22   23   21   22   22   22  ...    2    2

          172  173  174  175  176  177  178  179
27584933    2    0    1    1    3    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27549014   80  103  124  134  136  105  128  106  141  139  ...   17   14

          173  174  175  176  177  178  179  180
27549014   14   16   11   15   18   23   22    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27923136    3    3    4   10   12   19   19   14   18   22  ...    9    8

          173  174  175  176  177  178  179  180
27923136   12    9   10    9    9    9    9    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978898    3    4    1    3    0    1    1    3    2    2  ...    0    0

          172  173  174  175  176  177  178  179
27978898    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27583721    2    0   10   31   28   28   28    9   10    8  ...    9    9

          173  174  175  176  177  178  179  180
27583721    8   11    9   11    7   12    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27941957    1    0    2    1    2    5    2    3    2    3  ...    1    1

          173  174  175  176  177  178  179  180
27941957    1    1    1    1    0    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27960755    2    2    4    6    3    9   12    2    7    6  ...    8   11

          172  173  174  175  176  177  178  179
27960755    9    5   14    2    6    4   10    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27557202    6   10   10   10   14   10   11   10   17   13  ...    0    1

          172  173  174  175  176  177  178  179
27557202    0    0    0    0    0    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27969015    1    0    1    0    0    1    0    2    7    8  ...    0    0

          172  173  174  175  176  177  178  179
27969015    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551117    1    0    1    0    2    0    0    1    0    1  ...    2    0

          172  173  174  175  176  177  178  179
27551117    2    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27902844    9   15   13   30   26   11   16   13   12   13  ...    1    2

          172  173  174  175  176  177  178  179
27902844    0    2    2    2    2    1    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27560309    5    5    6    5    6    5    4    5    6    5  ...   19   24

          173  174  175  176  177  178  179  180
27560309   19   22   22   21   24   20   20    3

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566750    2    1    0    0    0    0    0    0    0    0  ...    3    4

          172  173  174  175  176  177  178  179
27566750    3    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545837    4    3    8   10    9    7   16    9   19   17  ...    2    4

          173  174  175  176  177  178  179  180
27545837    2    2    2    2    0    3    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27951213    1    0    1    3    3    3    2    4   10   17  ...    4    4

          173  174  175  176  177  178  179  180
27951213    3    2    3    5    5    4    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551473    2    1    1    0    0    1    2    2    1    2  ...    6    6

          172  173  174  175  176  177  178  179
27551473    9    4    6    7    4    7    6    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934892    3    4    6    3    8   17   38   38   51   43  ...    8   12

          173  174  175  176  177  178  179  180
27934892   10   10    7   15    7   16   10    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551329    1    2    3    2    2    2    1    1    2    1  ...    3    1

          172  173  174  175  176  177  178  179
27551329    3    2    0    0    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27582824    2   10   26   26   26   27   26   26   26   12  ...    0    1

          173  174  175  176  177  178  179  180
27582824    2    1    2    2    2    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27582830    7   10   11    9    7   10    9    8   12   18  ...    1    1

          172  173  174  175  176  177  178  179
27582830    2    1    2    1    1    2    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27562734   24   27   33   32   37   31   31   33   30   33  ...   26   24

          173  174  175  176  177  178  179  180
27562734   26   25   24   26   25   26   26    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27939226    1    2    0    0    2    0    7    8   11   10  ...    1    2

          173  174  175  176  177  178  179  180
27939226    0    1    1    2    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20608323   72   98  100   79   97  112  104  138   84   89  ...   81  112

          173  174  175  176  177  178  179  180
20608323   83   74   76  102   60   74   85   13

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27556532    3    2    1    9    9   10    5    7    5    8  ...    4    6

          173  174  175  176  177  178  179  180
27556532    9    1    3    4    6    5    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27906940    1    1    1    1    2    3    1    0    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27906940    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21254233    5    1    2    2    2    6   10    5    2    2  ...    2    1

          172  173  174  175  176  177  178  179
21254233    5    2    1    1    6    4    5    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27941821    1    0    0    0    0    0    0    0    0    0  ...    0    2

          173  174  175  176  177  178  179  180
27941821    0    0    1    1    1    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27943944    1    5    8   10   10   11   13   14   22    6  ...    0    3

          172  173  174  175  176  177  178  179
27943944    4    0    0    3    0    5    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915294    1    0    1    1    1    0    1    2    0    2  ...    0    0

          172  173  174  175  176  177  178  179
27915294    0    1    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27909865   11   13   13   13   15   12   17   14   13   14  ...    0    2

          172  173  174  175  176  177  178  179
27909865    1    0    0    0    1    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977363   47   60   63   68   76   69   67   70   72   70  ...    0    0

          172  173  174  175  176  177  178  179
27977363    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27906217   30   38   36   39   45   29   37   34   37   39  ...    7   10

          173  174  175  176  177  178  179  180
27906217   11    8    9    9    7   10    9    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27511490    7    6    4    4    5    5    3    7    4    4  ...    4    6

          172  173  174  175  176  177  178  179
27511490    4    5    5    5    4    4    5    9

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957064    6    1    1    3    3    4    5    2    5    6  ...    5    5

          172  173  174  175  176  177  178  179
27957064    6    4    2    5    5    4    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27569271    1    1    1    0    0    1    4    3    5    3  ...    0    0

          172  173  174  175  176  177  178  179
27569271    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27948150    3    4    4    4    3    4    3    3    3    1  ...    6    8

          173  174  175  176  177  178  179  180
27948150    6    6    5    3    6    3    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917332    3    1    1    0    2    0    0    2    1    1  ...    1    1

          172  173  174  175  176  177  178  179
27917332    0    0    3    0    1    1    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915242    4    7   13   25   33   39   36   45   40   38  ...    6    7

          173  174  175  176  177  178  179  180
27915242    7    3    5    6    6    5    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571417   68   76   65   52   65   63   84   93   83   72  ...   20   17

          173  174  175  176  177  178  179  180
27571417   21   21   22   20   21   23   18    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971934    6    5    5    4    3    1    1    1    3    2  ...    1    2

          173  174  175  176  177  178  179  180
27971934    2    1    1    1    1    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27573566    1    2    2    5    6   11    8    7    6    5  ...    7    7

          172  173  174  175  176  177  178  179
27573566    6    3    7    7    7    7    6    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567507    2    2   15   23   27   35   34   31   26   20  ...    2    0

          172  173  174  175  176  177  178  179
27567507    2    1    0    2    1    1    2    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21253005   23   34   29   29   29   72   25   47   16   14  ...   18   19

          173  174  175  176  177  178  179  180
21253005   33   23   15   31   26   27   35    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27921871    4    0    1    0    0    0    0    0    0    0  ...    4    8

          173  174  175  176  177  178  179  180
27921871    4    5    4    3    1    4    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27900698    1    8   14   16   31   51   61   59   64   54  ...   15   16

          173  174  175  176  177  178  179  180
27900698   14   20   12   14   16   11   14    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20609202    2    2    1    7    1    2    2    1    2    2  ...    2    4

          172  173  174  175  176  177  178  179
20609202    4    1    2    2    2    0    4    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27951616    1    0    2    2    2    3    1    1    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27951616    0    0    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
80123993    1    0    1    0    1    0    0    0    1    0  ...    2    0

          172  173  174  175  176  177  178  179
80123993    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27528006   11   10   14   11   11   12   13   11   10   13  ...   10    9

          173  174  175  176  177  178  179  180
27528006    8    8   11    9   11    9    9    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27936869    1    0    0    0    0    0    0    0    1    0  ...    2    3

          173  174  175  176  177  178  179  180
27936869    3    1    2    3    2    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567705    1    0    0    2    0    4    7    8    6    7  ...    0    0

          172  173  174  175  176  177  178  179
27567705    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27901974    8    9    9    8    9   19   30   30   31   36  ...    0    3

          172  173  174  175  176  177  178  179
27901974    4    0    1    2    0    2    1    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26906498    3    2    2    4    2    3    3    1    5    2  ...    4    2

          173  174  175  176  177  178  179  180
26906498    3    2    3    2    2    3    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21635229   56   71   75   79   74   80   65  111   68   72  ...   57   69

          173  174  175  176  177  178  179  180
21635229   64   64   58   70   97   53   65   22

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27895046    2    3    1    4    3    2    4    5    7    2  ...    1    1

          172  173  174  175  176  177  178  179
27895046    1    0    2    1    0    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27576754    3    1    7    7    7    5    5    7    6    6  ...    5    3

          173  174  175  176  177  178  179  180
27576754    3    4    2    7    2    3    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915108    1    3    4    4    3    3    4    6   11   59  ...    7    7

          173  174  175  176  177  178  179  180
27915108    5    6    7    7    8    6    8    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27912667    4    5    4    6    5   14   28   30   38   39  ...   13   10

          173  174  175  176  177  178  179  180
27912667    6   14    8    8    7    8   13    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560678    1    1    2    1    2    1    2    2    1    2  ...    0    0

          172  173  174  175  176  177  178  179
27560678    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894370   14   34    9   15   16   13   15   14   14    7  ...    0    1

          172  173  174  175  176  177  178  179
27894370    0    0    1    0    1    0    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25696908    1    0    4    2    2    2    2    3    4    3  ...    1    2

          172  173  174  175  176  177  178  179
25696908    2    3    0    3    5    4    3    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27913592    5    3    3    4    5    3    2    1    0    3  ...    1    0

          172  173  174  175  176  177  178  179
27913592    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27918389    2    2    4    3    3    4    3    4    4    2  ...    3    3

          173  174  175  176  177  178  179  180
27918389    3    2    4    3    4    3    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545413   21   31   12   15   15   21   14   17   18   16  ...    2    1

          172  173  174  175  176  177  178  179
27545413    1    0    0    1    1    1    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21250861    5    7    7    6   11    9    6    8    5    5  ...    7   12

          173  174  175  176  177  178  179  180
21250861    7    4    7    7    7   12    7    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27557598  110  218  348  103   84   51   42   62   37   55  ...    6    8

          172  173  174  175  176  177  178  179
27557598    8    5   10    6    4    3    5    7

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545836    5    8    6   10    7    7    5    7    5    7  ...    5    4

          172  173  174  175  176  177  178  179
27545836    6    4    6    5    6    7    4    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27934461    2    0    0    0    0    0    0    0    1    0  ...    2    2

          172  173  174  175  176  177  178  179
27934461    2    3    1    2    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971129   17   24   34   30   29   47   68   83   82   75  ...  107  100

          173  174  175  176  177  178  179  180
27971129   87   78   82   81   72   70   71   18

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934475    1    2    3    0    2    1    2    7    8    4  ...    0    1

          173  174  175  176  177  178  179  180
27934475    1    1    1    0    1    0    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27973017    1    0    0    0    0    0    0    0    0    0  ...    5    5

          172  173  174  175  176  177  178  179
27973017    5    5    6    6    6    5    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27931224    7   14    9    6   11    9   10    9    8    9  ...    1    2

          172  173  174  175  176  177  178  179
27931224    2    2    2    3    2    1    2    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27581146    1    2    0    0    0    7    0    1    3    3  ...    7    6

          172  173  174  175  176  177  178  179
27581146    5    7    6    4    6    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545851   62   83   56   77   45   70   65   89   89   80  ...    3    2

          172  173  174  175  176  177  178  179
27545851    9    4    2    3    2    2    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26107216    2    1    1    0    2    0    1    1    1    2  ...    1    1

          173  174  175  176  177  178  179  180
26107216    0    1    1    1    1    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27559288   17   19   29   53   69  104  125  126  135  124  ...  147  138

          173  174  175  176  177  178  179  180
27559288  129  135  117   89  112  124  108   13

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27923436    4    4    2    3    3    4    2    3    3    5  ...    0    0

          172  173  174  175  176  177  178  179
27923436    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27911484    1    0    0    3    3    3    1    3    2    0  ...    0    0

          172  173  174  175  176  177  178  179
27911484    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27960533    4    7   10    9   10   12   13   11    5    2  ...    0    0

          172  173  174  175  176  177  178  179
27960533    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27892028    1    0    1    0    1    5    4    1    2    3  ...    8    7

          173  174  175  176  177  178  179  180
27892028    7    9    3    4    6    7    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27564451    2    1    7    7   12    8    9   10   12   18  ...    8    3

          172  173  174  175  176  177  178  179
27564451    1    2    2    2    0    2    4    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21212348   30   42   50   41   38   33   44   59   38   35  ...   43   38

          173  174  175  176  177  178  179  180
21212348   48   51   34   50   53   44   46   11

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27961017    6    6    6    9    6   53   46    6   95   41  ...    1    1

          173  174  175  176  177  178  179  180
27961017    2    1    1    0    1    5    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27914488    1    0    0    2    1    0    0    0    1    1  ...    0    3

          172  173  174  175  176  177  178  179
27914488    1    1    0    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27564531    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27564531    0    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567038    2    4   11   13   11   14   11   22   12   20  ...   45   30

          173  174  175  176  177  178  179  180
27567038   39   35   36   34   36   43   36   25

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27940768    2    3    6    4    7    4    4   10   10   15  ...    1    4

          173  174  175  176  177  178  179  180
27940768    0    2    2    1    2    2    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27945638   24   38   40   55   64   97   78   97  121  111  ...  300  302

          173  174  175  176  177  178  179  180
27945638  273  267  219  300  282  236  289   37

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26022492    9   14   11   13   14   12   14   10   13   12  ...    3    3

          172  173  174  175  176  177  178  179
26022492    4    1    3    5    2    2    6    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567776    4    4    8    7    7    7    9    5    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27567776    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27942625  135   88  172  142  141  141  164  274  271  324  ...  211  139

          173  174  175  176  177  178  179  180
27942625  213  148  185  149  135  153  202   20

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27951881    1    0    0    3    0    3    5    7    8    7  ...    2    2

          173  174  175  176  177  178  179  180
27951881    2    5    3    2    4    1    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27952350    3    6    5    4    4    6    5    5    5    4  ...    4    3

          172  173  174  175  176  177  178  179
27952350    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560596    1    1    1    0    0    0    2    1    0    0  ...    0    2

          172  173  174  175  176  177  178  179
27560596    0    1    0    0    2    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27960679    1    0    3    4    8    2    4    3    5    3  ...    1    1

          172  173  174  175  176  177  178  179
27960679    1    1    2    0    2    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915580    1    0    1    1    2    3    3    3    1    2  ...    1    1

          172  173  174  175  176  177  178  179
27915580    0    3    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27550469    2    1    5    3    2    4    0    0    3    0  ...   10   13

          173  174  175  176  177  178  179  180
27550469    8    9    6    7    9    5    9    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545716    1    1    1    4    7   11   13   18   15   14  ...    5    5

          172  173  174  175  176  177  178  179
27545716    3    1    2    3    1    1    3    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26511708    1    0    1    1    0    3    1    0    1    1  ...    0    2

          172  173  174  175  176  177  178  179
26511708    1    0    2    0    3    1    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27909618    1    3    4    5    7    5    5    4    5    2  ...    2    2

          172  173  174  175  176  177  178  179
27909618    3    2    1    1    3    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545925    1    0    7    8   13    9   14   28   22   22  ...    9    8

          173  174  175  176  177  178  179  180
27545925    8   10   12    8    9    9   10    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547868    1    0    0    0    1    2    1    1    0    0  ...    6    2

          172  173  174  175  176  177  178  179
27547868    4    2    1    3    0    2    2    3

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27583194    1    2    0    0    2    0    3    1    0    0  ...    1    2

          172  173  174  175  176  177  178  179
27583194    1    0    2    3    1    3    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971947    3    5    6   23   16   12   16   19   21   25  ...    1    2

          173  174  175  176  177  178  179  180
27971947    1    2    3    0    2    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27566118    6    7    7   12   17   10   16   16   17   17  ...   10   16

          173  174  175  176  177  178  179  180
27566118   11   14   11   12    8   11   14    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27576479   12    7    5   11    5    2    7   17    5    3  ...    3    5

          173  174  175  176  177  178  179  180
27576479    3    4   12    5    2    3    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966584    2    2    1    1    1    2    2    4    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27966584    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566119    1    0    4    3    1    1    3    0    3    2  ...    0    1

          172  173  174  175  176  177  178  179
27566119    2    1    1    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27962084    1    8   12   10   16   16   17   19   17   17  ...    1    0

          173  174  175  176  177  178  179  180
27962084    0    1    0    1    0    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27965933    3    6    4    4    5    7    2    2    2    2  ...    2    2

          172  173  174  175  176  177  178  179
27965933    2    2    3    1    3    1    2    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27905037    9    7    8    7    7    7    2    3    1    5  ...    2    0

          172  173  174  175  176  177  178  179
27905037    2    1    0    2    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27561138    8   11   14    4    2    2    3    9    8   21  ...    4    4

          173  174  175  176  177  178  179  180
27561138    5    6    4   10    1    4    6    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27893055    6    9   12   14   18   22   20   16   14   15  ...    1    1

          173  174  175  176  177  178  179  180
27893055    1    1    1    1    1    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971749    1    0    0    0    0    3    1    2    2    3  ...    0    0

          173  174  175  176  177  178  179  180
27971749    1    0    1    1    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27976998    2    1    3    0    1    2    3    1    3    0  ...    0    0

          172  173  174  175  176  177  178  179
27976998    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27937734    1    1    0    0    0    0    0    0    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27937734    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27890004    3    7   11   15   13   19   13   16   16   17  ...    0    0

          172  173  174  175  176  177  178  179
27890004    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949995   69   98   60   63   69   76   85   68   59   75  ...   27   23

          173  174  175  176  177  178  179  180
27949995   29   39   28   25   42   29   29    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27945611    1    1    3    3    1    0    1    2    7   11  ...    2    1

          172  173  174  175  176  177  178  179
27945611    2    2    0    4    0    4    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27965258    1    4    4    0    4    4    4    6    4    4  ...    2    3

          173  174  175  176  177  178  179  180
27965258    2    5    2    1    2    2    1    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27580891    1    1    1    0    4    1    0    2    1    1  ...    3    1

          172  173  174  175  176  177  178  179
27580891    2    2    1    3    1    2    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560965   15   20   20   15   20   20   20   20   16   21  ...    0    1

          172  173  174  175  176  177  178  179
27560965    2    0    3    0    1    3    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27932472    1    1    1    1    0    0    1    1    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27932472    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545501    1    0    1    0    0    1    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27545501    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27905584   12   31   45   45   50   66   92  117  134  132  ...    9   12

          173  174  175  176  177  178  179  180
27905584    8   13   11   11    8   13    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27961189  240  186  187  200  261  158  220  238  228  225  ...   28   34

          172  173  174  175  176  177  178  179
27961189   27   29   25   28   27   25   29   25

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21224837    5    3    5    6    3    5    4    5    6   19  ...    4    4

          172  173  174  175  176  177  178  179
21224837    4    8    6    2    7    5    7    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27890158    8   12   21   29   23   36   34   29   34   28  ...   22   16

          173  174  175  176  177  178  179  180
27890158   20   18   17   19   22   16   20    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915152    4    3    4    7    7    7    6    6    6    6  ...    5    6

          172  173  174  175  176  177  178  179
27915152    3    3    4    5    3    4    3    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27918462    7    6    6    6    6    6    7    7    6    7  ...    0    0

          172  173  174  175  176  177  178  179
27918462    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27578938    1    0    0    0    1    0    2    2    0    1  ...    2    1

          172  173  174  175  176  177  178  179
27578938    2    0    1    1    1    2    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26030652    2    1    1    1    0    1    1    1    0    1  ...    1    0

          173  174  175  176  177  178  179  180
26030652    1    1    1    1    0    2    0    1

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966619   61   13    1    4    9   10   15   19   19   19  ...    1    1

          172  173  174  175  176  177  178  179
27966619    1    1    0    2    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978180   45    1    4    8    8    8    8    9    6   10  ...    0    0

          172  173  174  175  176  177  178  179
27978180    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917553    1    0    0    2    0    1    4    8   13   14  ...    8    8

          172  173  174  175  176  177  178  179
27917553    8    7   11    7    6    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27570800    1    0    0    0    1    0    5   11   16   16  ...    2    2

          173  174  175  176  177  178  179  180
27570800    1    2    3    2    1    3    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27584995    1    1    3    3    2    2    4    3    3    5  ...    0    0

          172  173  174  175  176  177  178  179
27584995    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27963213    4    3    7    8    8    9    9   12    8    8  ...    1    0

          172  173  174  175  176  177  178  179
27963213    2    1    2    2    2    2    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27968420    3    5    6    6    6    6    8    5    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27968420    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27891091    4    0    6    6    4    5    4    4    3    2  ...    5    5

          172  173  174  175  176  177  178  179
27891091    3    5    6    5    7    7    6    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966425   48   23   17   78   30   35   44   96   54   47  ...    1    0

          172  173  174  175  176  177  178  179
27966425    0    0    1    0    1    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545661    1    0    1    1    0    1    2    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27545661    2    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551166    1    2    0    1    1    0    1    0    0    2  ...    1    0

          172  173  174  175  176  177  178  179
27551166    1    0    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27898062    3    5   14   25   24   38   36   38   43   45  ...   19   11

          173  174  175  176  177  178  179  180
27898062   15   27   10   14   13   15   14    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27905141    4    1    2    0    6   10   11   16   15   15  ...    0    0

          172  173  174  175  176  177  178  179
27905141    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27583949    1    4    5    7   18    9   16   25   21   20  ...   10   10

          173  174  175  176  177  178  179  180
27583949    4    4    3    6    5    4    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27900777    3    2    1    3    1    3    3    3    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27900777    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27965312    1    0    0    0    1    0    0    3    3    3  ...    0    0

          172  173  174  175  176  177  178  179
27965312    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26020319    1    0    0    0    0    0    0    0    0    1  ...    1    1

          172  173  174  175  176  177  178  179
26020319    0    1    1    0    2    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27964018    1    5    1    4    8   14   11   14   14   14  ...    1    1

          172  173  174  175  176  177  178  179
27964018    1    3    2    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21387813    1    2    7    3    3    2    1    0    2    8  ...    2    3

          172  173  174  175  176  177  178  179
21387813    2    2    1    2    2    2    3    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27563329    2    5    4    3    4    3    3    3    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27563329    0    1    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908897   12    6    4    2    2    3    4    8    8   14  ...   43   48

          173  174  175  176  177  178  179  180
27908897   33   46   45   43   42   39   40   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27947158    1    3    2    3    5    6    3    6    6    1  ...    0    2

          172  173  174  175  176  177  178  179
27947158    0    1    2    0    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27566480    2    3    1   10   15   11   15   16   17    7  ...    7   11

          173  174  175  176  177  178  179  180
27566480    6    9   10   13    8   13    8    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27562816    1    0    1    2    0    0    1    1    0    3  ...    4    3

          172  173  174  175  176  177  178  179
27562816    0    2    4    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545503    3    2    3    2    1    4    3    4    5    1  ...    3    0

          173  174  175  176  177  178  179  180
27545503    3    3    0    0    1    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27903646    4    6    9   11   12   11   11   10    3    1  ...    0    0

          172  173  174  175  176  177  178  179
27903646    0    2    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27951100   41   43   41   46   49   52   47   43   31   31  ...    0    0

          172  173  174  175  176  177  178  179
27951100    0    0    0    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894248    8   25   19   28   11   15   18   14    6   15  ...    0    0

          172  173  174  175  176  177  178  179
27894248    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
22222860    8   52   25   18   17   51   32   17   48   31  ...   20   27

          173  174  175  176  177  178  179  180
22222860   28   61   59   19   21   50   25    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894506    5    2    5    6    5    8    6   11    9    7  ...    1    1

          172  173  174  175  176  177  178  179
27894506    3    0    0    2    0    4    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25023744    1    2    0    2    0    0    1    2    0    3  ...    0    0

          172  173  174  175  176  177  178  179
25023744    1    0    1    2    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545715    8    7   32   28   30   39   39   57   73   60  ...   13    8

          173  174  175  176  177  178  179  180
27545715   11   10   11   11    2    3    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27929534   12   16   17   20   23   30   36   28   25   26  ...    0    0

          172  173  174  175  176  177  178  179
27929534    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27899208    2    0    0    1    4    2    4   10    8    8  ...   13   12

          172  173  174  175  176  177  178  179
27899208   16   18   19   16   13    7    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915226   27   52   78   96  109  113  118  128  113  125  ...   70   95

          173  174  175  176  177  178  179  180
27915226   80   85   78   77   73   56   70   14

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545926    2    2    0    2    0    4    2    3    6    1  ...    0    0

          172  173  174  175  176  177  178  179
27545926    1    0    0    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27574245   15   30   33   67   41   69   54   54   50   53  ...   11   13

          172  173  174  175  176  177  178  179
27574245   11    7    5    4    5    5    8    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27556782    2    2    2    1    2    2    3    2    3    4  ...    0    0

          172  173  174  175  176  177  178  179
27556782    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27577764   12   12   21   18   15    7   12   15   18   20  ...    1    3

          173  174  175  176  177  178  179  180
27577764    1    0    3    0    1    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27892361    6    0    4    2    1    2    4    2    4    3  ...    0    3

          172  173  174  175  176  177  178  179
27892361    1    0    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957029    1    0    0    4    5   12   15   22   24   22  ...    1    2

          172  173  174  175  176  177  178  179
27957029    2    1    2    1    2    2    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27973835    3    0    0    1    0    0    0    1    0    0  ...    1    1

          172  173  174  175  176  177  178  179
27973835    2    2    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26027933    1    0    0    0    0    0    0    0    0    0  ...    0    4

          172  173  174  175  176  177  178  179
26027933    1    2    5    3    2    3    3    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27947548    1    0    0    1    0    0    0    1   11   11  ...    6    0

          173  174  175  176  177  178  179  180
27947548    2    0    1    1    5    2    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894063   21   38   36   44   39   45   40   44   50   46  ...    0    0

          172  173  174  175  176  177  178  179
27894063    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27892412    2    0    0    0    3    1    0    1    1    4  ...    0    1

          173  174  175  176  177  178  179  180
27892412    0    0    0    0    1    2    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27586944    2    0    1    0    0    0    3    3    3    3  ...    1    3

          172  173  174  175  176  177  178  179
27586944    2    2    4    3    4    3    6    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27905020    1    6    2    1    1    1    3    3    7    5  ...    0    0

          172  173  174  175  176  177  178  179
27905020    0    1    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27556783    3    4    9    4    6   13    3    5    6   10  ...    6    7

          173  174  175  176  177  178  179  180
27556783    5    7    7    5    7    9    4    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27959039    2    0    0    1    0    1    1    0    9    8  ...    2    1

          172  173  174  175  176  177  178  179
27959039    2    1    2    1    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27572147    9    5    7    4    4    5    4    5    5    6  ...   57   51

          173  174  175  176  177  178  179  180
27572147   53   50   61   57   44   62   54   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27946858    1    0    0    1    0    0    5    7    7    9  ...    0    0

          172  173  174  175  176  177  178  179
27946858    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27899590    9   13   15   15   15   16   25   14   11   12  ...    1    1

          172  173  174  175  176  177  178  179
27899590    1    0    0    2    2    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27580460    4    6    7    9   19   17   20   17   15   18  ...    1    0

          173  174  175  176  177  178  179  180
27580460    0    1    0    1    1    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27586011    4    4    7   13   12   16   19   19   23   16  ...   11    9

          173  174  175  176  177  178  179  180
27586011    9   10   10    8   10    9   11    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957969    2    0    6    9    9    9   10    8   14   13  ...    2    5

          172  173  174  175  176  177  178  179
27957969    1    2    4    1    2    3    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26030080    5    0    2    0    2    3   11   28   35   21  ...   55   59

          172  173  174  175  176  177  178  179
26030080   42   44   42    6    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934799   14   27   23   63   31   54   64   91   77   58  ...    2   14

          173  174  175  176  177  178  179  180
27934799    3    3    4   13    6    5    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27556581    3    1    2    2    7    4    5    4    5    8  ...    5    3

          173  174  175  176  177  178  179  180
27556581    4    2    4    2    6    2    7    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27923583    1    0    0    0    0    1    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27923583    0    0    0    0    0    1    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934000   13   13    6    8   15   21   39   66   80   84  ...   49   46

          173  174  175  176  177  178  179  180
27934000   55   47   41   46   54   42   55    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27543173    9   11   11   11   12    9   13   14   10   11  ...    5    4

          172  173  174  175  176  177  178  179
27543173    1    3    1    2    3    3    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27951840    5    0    1    2    2    0    2    3    0    3  ...    0    0

          172  173  174  175  176  177  178  179
27951840    0    0    0    1    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979114    1    0    0    1    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27979114    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27546989    1    1    2    0    0    7    7    7    5    7  ...    0    0

          172  173  174  175  176  177  178  179
27546989    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26023771   76   87  107   72   74  113   72  130   72  107  ...   36   31

          173  174  175  176  177  178  179  180
26023771   37   35   31   38   27   35   39    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27576719    1    0    0    0    0    0    0    0    0    3  ...    1    1

          172  173  174  175  176  177  178  179
27576719    1    2    1    1    1    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20730021   21   15   20   16   16   18   19   28   23   24  ...   31   57

          173  174  175  176  177  178  179  180
20730021   27   29   30   32   23   28   35    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27582854    1    0    0    0    1    1    0    0    0    0  ...    2    2

          173  174  175  176  177  178  179  180
27582854    1    2    0    1    2    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27564447   33   35   71  136  110  113  182  266  159  149  ...  395  418

          173  174  175  176  177  178  179  180
27564447  425  409  385  407  362  387  354   31

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27957362    3    7   19   17   13   16   35   44   78   98  ...   23   23

          173  174  175  176  177  178  179  180
27957362   20   27   19   20   22   21   15    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27613105    1    0    0    0    0    0    0    0    0    0  ...    2    1

          172  173  174  175  176  177  178  179
27613105    2    2    2    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27550090   14   36   18   13   19   28   24   37   29   23  ...    9   11

          173  174  175  176  177  178  179  180
27550090    9    9    6    9   13   12   12    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27566522    1    0    1    1    5    1    6    4    2    5  ...    0    1

          173  174  175  176  177  178  179  180
27566522    2    1    0    2    0    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27964025    1    0    1    2    0    0    1    0    0    2  ...    1    1

          173  174  175  176  177  178  179  180
27964025    0    1    1    1    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553214    1    2    2    3    3    3    2    2    3    3  ...    0    0

          172  173  174  175  176  177  178  179
27553214    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27583237    1    1    0    0    0    1    0    0    1    0  ...    4    2

          172  173  174  175  176  177  178  179
27583237    1    0    1    1    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912831    4    3    2    1    2    2    1    3    4    3  ...    0    0

          172  173  174  175  176  177  178  179
27912831    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22269525   14   19   19   44   16   18   34   19   25   25  ...   37   14

          172  173  174  175  176  177  178  179
22269525   23   16   10   25   12   16   36   18

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27903519    1    5    5   11    8    7    8    8    9   12  ...    4    6

          173  174  175  176  177  178  179  180
27903519    6    3    7    6    2    8    6    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21585709    3    2    4    3    3    6    3    1    3    2  ...    5    4

          173  174  175  176  177  178  179  180
21585709    4    2    3    5    2    2    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27540095    1    1    1    1    0    0    0    1    1    1  ...   17   16

          172  173  174  175  176  177  178  179
27540095   13   15   17    5    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27901326    1    2    0    0    0    1    1    1    2    0  ...    2    0

          172  173  174  175  176  177  178  179
27901326    0    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27547705    5    3    3    7    7   13   12   17   15   15  ...   17    6

          173  174  175  176  177  178  179  180
27547705    5    2    4    2    3    4    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545660    1    0    0    0    0    0    0    0    0    0  ...    0    1

          172  173  174  175  176  177  178  179
27545660    0    0    0    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27901497    2    5    3    4    2    1    2    3    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27901497    0    2    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559275   61   67   58   47   45   49   43   43   41   49  ...    0    0

          172  173  174  175  176  177  178  179
27559275    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27969075    7   12    5    3    3   13   16   17   16   16  ...    0    0

          172  173  174  175  176  177  178  179
27969075    0    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27946733    2    3    2    2    2    2    2    3    3    3  ...    1    1

          172  173  174  175  176  177  178  179
27946733    0    2    1    0    1    2    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27912376    3    5   10   10   15   13   16   11   18   79  ...   10    8

          173  174  175  176  177  178  179  180
27912376    7    8    6    7    8    9   16    4

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21130355    1    2    6    0    2    1    3    0    1    1  ...    3    3

          173  174  175  176  177  178  179  180
21130355    2    4    0    4    2    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27933384    1    0    2    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27933384    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27954479    2    3    1    2    2    4    4    0    4    2  ...    1    8

          173  174  175  176  177  178  179  180
27954479   11    9   11    9   10    9   10    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27945789    2    7   14   10    9   12   13   12    9    9  ...   16   18

          173  174  175  176  177  178  179  180
27945789   17   16   16   14   16   17   19   13

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27932501    1    1    2    9    1    1    0    0    0    0  ...    0    1

          172  173  174  175  176  177  178  179
27932501    0    1    0    0    1    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908886    1    0    0    0    1    0    0    0    0    0  ...    1    2

          172  173  174  175  176  177  178  179
27908886    2    1    2    2    2    1    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27956050    4    0    3    1    1    1    2    0    2    1  ...    1    0

          172  173  174  175  176  177  178  179
27956050    0    0    1    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949170    1    2    2    2    4    1    2    2    2    3  ...    2    0

          172  173  174  175  176  177  178  179
27949170    0    2    0    0    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27972680    2    5   12   13   14   12   13   12    7    3  ...    0    0

          172  173  174  175  176  177  178  179
27972680    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27957400    1    0    0    0    0    0    0    0    0    0  ...    1    0

          173  174  175  176  177  178  179  180
27957400    1    2    2    0    2    0    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27931949    3    0    0    4    4    7    9    9    7   10  ...    1    1

          172  173  174  175  176  177  178  179
27931949    0    2    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27575228   15   22   14   14   11   10    9   18   25   30  ...   17   20

          173  174  175  176  177  178  179  180
27575228   15   18   15   14   13   10   13    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27562813    3    5    3    3    1    0    0    1   12   17  ...    0    0

          172  173  174  175  176  177  178  179
27562813    1    0    0    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545506    1    9    8    8   12    8   22   18   23   21  ...    7    8

          173  174  175  176  177  178  179  180
27545506    8    7   11    8    7    6    9    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551215    6    2    6    5    5    7    9   14   11   14  ...    0    1

          172  173  174  175  176  177  178  179
27551215    0    0    1    1    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27906920    2    2    1    1    1    6    6    8    6    6  ...    0    5

          172  173  174  175  176  177  178  179
27906920    0    0    0    1    0    0   13    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27580114    4    6    9    6    7    7    6   14   10   14  ...    2    2

          173  174  175  176  177  178  179  180
27580114    5    4    5    2    3    3    4    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27904104    1    2    3    3    4    2    4    2    2    1  ...    1    1

          172  173  174  175  176  177  178  179
27904104    1    2    0    1    1    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27570224    2    2    2    0    0    0    0    2    4   11  ...    0    0

          172  173  174  175  176  177  178  179
27570224    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27919169   34   41   49   61   74   79   85   98   84   83  ...    3    6

          172  173  174  175  176  177  178  179
27919169    4    3    5    2    8    4    3    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27969667    4    0    1    1    4    3    1    0    1    2  ...    7    5

          173  174  175  176  177  178  179  180
27969667    8    6    6    6    2    7    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27967892    2    0    0    0    0    0    0    0    0    1  ...    1    2

          173  174  175  176  177  178  179  180
27967892    1    2    1    1    1    4    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27586029    1    1    2    2    0    1    2    0    1    0  ...    5    3

          172  173  174  175  176  177  178  179
27586029    4    5    5    2    6    6    5    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27893913    3    1    3    5    5    6    4    7    7    8  ...    3    6

          173  174  175  176  177  178  179  180
27893913    4    8    4    4    4    4    5    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21856731   39   41   41   48   47   45   50   40   40   40  ...   83   39

          173  174  175  176  177  178  179  180
21856731   46   46   47   42   55   42   31    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27946860    1    1    0    0    0    0    0    0    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27946860    0    1    1    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27573261    6    9   13   17   23   21   27   19   28   21  ...   13   10

          173  174  175  176  177  178  179  180
27573261   10   14   10   10   11   15   10    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27579980    1    0    1    0    0    0    1    0    0    1  ...    3    2

          173  174  175  176  177  178  179  180
27579980    2    4    2    3    3    3    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27920298  173  262  220  302  308  193  270  300  295  376  ...  162  207

          173  174  175  176  177  178  179  180
27920298  143  154  107   95  105  150  104   17

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
80136642    1    2    3    4    3    3    3    2    5    3  ...    0    0

          172  173  174  175  176  177  178  179
80136642    0    0    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27904313    1    0    4    9    6   12   12    9   15   13  ...    3    1

          173  174  175  176  177  178  179  180
27904313    3    2    3    2    3    1    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27892365    1    0    3    1    5    2    2    1    1    3  ...    7    6

          172  173  174  175  176  177  178  179
27892365    4    4    8    4    3    6    4    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949575    9   38   48   54   52   50   51   51   28   29  ...    2    4

          173  174  175  176  177  178  179  180
27949575    1    1    2    3    2    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915593    1    0    1    1    0    1    2    0    1    2  ...    1    1

          172  173  174  175  176  177  178  179
27915593    0    1    0    2    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894927    7    0    0    4    3    4    7    4    5    7  ...    3    3

          172  173  174  175  176  177  178  179
27894927    4    4    4    5    3    3    3    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27924014    4    4    3    5    4    3    4    5    3    4  ...    1    0

          173  174  175  176  177  178  179  180
27924014    2    0    1    1    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20775815    1    1    0    0    1    0    1    0    1    1  ...    1    1

          172  173  174  175  176  177  178  179
20775815    2    0    1    0    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27548976    4    0    0    6    1    7    0    4    3    3  ...    0    0

          172  173  174  175  176  177  178  179
27548976    1    0    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27904105    2    1    1    2    2    2    2    2    2    2  ...    0    0

          172  173  174  175  176  177  178  179
27904105    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27958875   17   26   29   21   27   30   25   19   27   28  ...   14   15

          173  174  175  176  177  178  179  180
27958875   16   11   15   12    8   14   15    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27539816   22   37   40   54   51   53   51   57   41   36  ...    2    1

          172  173  174  175  176  177  178  179
27539816    1    2    0   13    5    3    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
23249268    3    5    3    7    3    5    3    5    6    3  ...    3    0

          172  173  174  175  176  177  178  179
23249268    0    1    0    1    0    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27899608    3    1    1    2    1    1    2    2    2    2  ...   21   22

          172  173  174  175  176  177  178  179
27899608   25   26   15   16    5    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934830    1    0    0    0    0    0    0    0    0    0  ...    2    1

          173  174  175  176  177  178  179  180
27934830    1    1    2    1    1    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27900559   44   53   65   80  137  101  122  180  219  190  ...  131  150

          173  174  175  176  177  178  179  180
27900559  131  148  142  142  132  107  136   20

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27904059    3    5    4    6    4    3    5    4    3    3  ...    0    1

          172  173  174  175  176  177  178  179
27904059    0    0    1    2    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27912613    1    0    0    0    0    1    2    2    1    2  ...    1    0

          173  174  175  176  177  178  179  180
27912613    2    1    2    0    1    1    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27556433    1    1    4    1    3    1    1    4    1    2  ...    0    1

          172  173  174  175  176  177  178  179
27556433    0    1    1    0    0    2    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27969538    1    0    4    6   10    9   11    9    9   13  ...    0    0

          172  173  174  175  176  177  178  179
27969538    0    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27911497    1    1    2    3    1    3    2    3    0    2  ...    0    0

          172  173  174  175  176  177  178  179
27911497    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27924362    2    1    7   21   15   12   12   17   18   32  ...   13    9

          173  174  175  176  177  178  179  180
27924362   17   12   13   13   11   16    7    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27948737    7    6    8    6    6    6    7    9    6    7  ...    5    8

          173  174  175  176  177  178  179  180
27948737    6    7    6    6    6    3    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27941049    1    0    1    0    0    0    6    3    3    2  ...    1    1

          172  173  174  175  176  177  178  179
27941049    1    2    2    1    1    3    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912377    1    1    6    4   13   18   18   13   21   18  ...    1    0

          172  173  174  175  176  177  178  179
27912377    0    0    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27548396    1    0    3    5    3    3    3    2    2    3  ...    0    0

          172  173  174  175  176  177  178  179
27548396    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27904273    8   12   13   27   51   57   53   44   47   42  ...    1    2

          173  174  175  176  177  178  179  180
27904273    3    2    4    2    2    2    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27910206    1    3    5    2    3    1    7   12   12   17  ...    3    6

          172  173  174  175  176  177  178  179
27910206    2    5    3    7    6    3    4    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27563661    3    1    1    4    2    1    0    1    1    1  ...    3    4

          173  174  175  176  177  178  179  180
27563661    2    0    0    0    4    3    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27937120    1    1    1    1    0    0    0    0    0    1  ...    1    1

          172  173  174  175  176  177  178  179
27937120    1    1    0    0    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25037655    4    2    1    2    2    1    6    1    2    1  ...    0    0

          172  173  174  175  176  177  178  179
25037655    0    0    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547700    1    2    3    2    5    4    7    5    4    3  ...    0    0

          172  173  174  175  176  177  178  179
27547700    3    3    1    0    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27938549    1    3    2    2    0    1    0    1    0    2  ...    2    1

          173  174  175  176  177  178  179  180
27938549    2    1    1    2    0    2    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27582462   36   45   50   72   83   67   91   90   88  103  ...   33   29

          173  174  175  176  177  178  179  180
27582462   34   36   41   39   42   41   37    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977506  117  151  117  178  135  139  207  181  160  136  ...    0    0

          172  173  174  175  176  177  178  179
27977506    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896713    1    0    0    0    0    0    0    0    0    0  ...    0    1

          172  173  174  175  176  177  178  179
27896713    1    0    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27914710    3   12   12    6   12    8    6    7   11   17  ...    0    1

          172  173  174  175  176  177  178  179
27914710    1    1    0    1    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27926205    2    1    2    0    0    2    2    4    3    1  ...    0    1

          173  174  175  176  177  178  179  180
27926205    4    0    0    2    0    0    0    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27970043   24   31   50   70   74   78   79   65   86   94  ...    6   14

          173  174  175  176  177  178  179  180
27970043    5    9    6    7   12    4    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27582660   10   10   12   11   10   13   10   12   12   12  ...    2    4

          173  174  175  176  177  178  179  180
27582660    4   11   15   15   15   15   14    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27549263    1    2    1    2    4    2    8    4    1    3  ...    0    1

          173  174  175  176  177  178  179  180
27549263    5    2    2    0    1    1    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27909557   12   19   14   13   16   19   25   30   28   21  ...   19   21

          173  174  175  176  177  178  179  180
27909557   12   19   18   20   16   19   18    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571065   58   60   53   27   57  113   45   63   41   47  ...   66   28

          173  174  175  176  177  178  179  180
27571065   62   63   59   55   64   57   61    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27579363    3    3    1    4    2    3    2    2    6    3  ...    0    0

          172  173  174  175  176  177  178  179
27579363    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27570347   30   39   33   24   35   25   56   36   53   62  ...    1    2

          172  173  174  175  176  177  178  179
27570347    5    2    2    3    4    4    3    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27548021    3   10   10   27    9   41   38   43   40   45  ...   33   13

          173  174  175  176  177  178  179  180
27548021   14    7    4    4    3    8    6    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560975    3    3    3    3    8    7    3    3    4    4  ...    4    3

          172  173  174  175  176  177  178  179
27560975    1    3    4    1    2    4    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21911135    3    2    3    3    3    2    3    2    3    2  ...    2    4

          173  174  175  176  177  178  179  180
21911135    3    3    3    2    1    2    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962533    1    1    4    4    2    5   10    5    1    8  ...    4    2

          172  173  174  175  176  177  178  179
27962533    3    3    2    1    1    4    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567940   12    2    4    3    5   14    1    4   10    9  ...    8   10

          173  174  175  176  177  178  179  180
27567940    8    9    8    7    8   12    8    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20615477    4    2    4    3    2    3    3    2    4    1  ...    1    2

          172  173  174  175  176  177  178  179
20615477    2    0    2    1    1    2    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27549471    2    3    7   17   31   27   29   21   27   50  ...   28   44

          173  174  175  176  177  178  179  180
27549471   51   41   46   40   49   51   32   14

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27937240    8    4    6    7   17   18   10   11   13   13  ...    0    1

          172  173  174  175  176  177  178  179
27937240    0    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27263996  172  156  174  220  157  189  151  183  181  200  ...  156  165

          173  174  175  176  177  178  179  180
27263996  214  157  131  205  175  138  177   23

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
24960853    2    4    2   13    1    3    3    1    3    1  ...    4    2

          172  173  174  175  176  177  178  179
24960853    2    2    2    3    4    1    2    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27583191    1    1    0    1    3    0    0   17   26    5  ...    3    3

          172  173  174  175  176  177  178  179
27583191    3    1    4    3    1    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908270    2    0    0    3    1    2    3    1    2    1  ...    1    0

          172  173  174  175  176  177  178  179
27908270    0    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566108   17   18   16   16   16   18   17   22   19   16  ...    4    3

          172  173  174  175  176  177  178  179
27566108    2    2    4    2    5    3    2    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27961588    2    5    0    2    4   13   20   24   26   29  ...    9    8

          173  174  175  176  177  178  179  180
27961588    8    8   11    9   10   11    8    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27549699   28   49   44   55   71   54   67   39   28   41  ...   24   30

          173  174  175  176  177  178  179  180
27549699   30   23   28   23   23   28   27    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26021362    2    3    3   10    8   13   13    8    9    9  ...    1    1

          172  173  174  175  176  177  178  179
26021362    3    1    0    1    0    1    0    2

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27581988    1    0    2    2    3    2    1    4    5    4  ...    4    3

          173  174  175  176  177  178  179  180
27581988    2    3    3    4    3    4    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27972523    1    2    1    5    1    0    3    2    1    1  ...    0    0

          173  174  175  176  177  178  179  180
27972523    0    0    0    1    1    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27957947    5    2   22    9   12   36   46   45   50   52  ...    8    6

          173  174  175  176  177  178  179  180
27957947    7    5    9    6   15   10   10    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27944278    2    1   11    8   13   24   13   10   14   21  ...    2    3

          173  174  175  176  177  178  179  180
27944278    3    2    3    3    2    8    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27951885    7    6    2    2    5    4    4    1    5    3  ...    3    2

          173  174  175  176  177  178  179  180
27951885    5    5    1    4    3    3    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27890773   12    8   13   12   25   35   27   18   30   27  ...    5    2

          172  173  174  175  176  177  178  179
27890773    5    1    4    3    4    5    5    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27937533    5    9   21   24   28   36   35   34   33   37  ...    2    6

          173  174  175  176  177  178  179  180
27937533    3    5    4    5    2    6    2    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27976553    1    1    0    1    0    3    8    5    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27976553    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27889356    3    3    4    8    3    8    5    8   12   15  ...    2    5

          172  173  174  175  176  177  178  179
27889356    1    1    2    1    1    3    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27559930   15   66   55   58   61   52   89   87  104  132  ...   49   61

          173  174  175  176  177  178  179  180
27559930   44   44   42   48   48   40   62    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27577401    2    0    0    1    1    1    2    6    7    8  ...    6    6

          173  174  175  176  177  178  179  180
27577401    6    4   11    3    8    8    8    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27554555    1    0    0    0    0    1    1    0    2    0  ...    0    0

          172  173  174  175  176  177  178  179
27554555    0    0    0    2    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27943488    4   18   28   45   52   77   93   60   70   73  ...    6    4

          173  174  175  176  177  178  179  180
27943488    8    7    9    6    8    9    6    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27916890    1    0    0    0    1    1    0    1    1    0  ...    2    0

          172  173  174  175  176  177  178  179
27916890    0    1    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27939683    1    0    0    1    0    2    1    2    1    1  ...    4    3

          172  173  174  175  176  177  178  179
27939683    2    3    3    3    3    4    4    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27956250   79  110  202  217  220  192  202  222  300  366  ...  112   96

          173  174  175  176  177  178  179  180
27956250   97   88   95  114   96  102   89   12

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27901308   13   16   17   16   22   22   27   19   17   19  ...   30   28

          173  174  175  176  177  178  179  180
27901308   30   28   28   31   29   32   29    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912374    1    1    4    1    1    3    0    0    0    2  ...    1    1

          172  173  174  175  176  177  178  179
27912374    0    0    0    1    1    3    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27571299    1    0    0    1    2    0    1    0    1    0  ...    0    1

          172  173  174  175  176  177  178  179
27571299    1    1    0    1    0    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896921    5    0    0    0    4   11   15   23   18   20  ...    0    0

          172  173  174  175  176  177  178  179
27896921    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25662430    1    1    2    1    1    1    1    1    1    1  ...    9    8

          172  173  174  175  176  177  178  179
25662430    8    9    8   10    9   10    8    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
18166602    3    2    4    3    3    4    2    4    4    3  ...    4    3

          173  174  175  176  177  178  179  180
18166602    3    4    2    2    4    4    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978177    3    4    4    4    4    4    3    4    3    4  ...    0    0

          172  173  174  175  176  177  178  179
27978177    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27930655    2    1    4    1    3    1    5    0    2    1  ...    0    1

          172  173  174  175  176  177  178  179
27930655    0    1    1    1    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27927329    1    1    0    1    0    0    2    3    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27927329    1    1    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27931239   14   18   17   23   21   19   20   20   19   22  ...    7    6

          173  174  175  176  177  178  179  180
27931239    9    8    7    3    5    5    7    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27564100    1    0    1    1    0    1    0    1    1    0  ...    2    1

          173  174  175  176  177  178  179  180
27564100    1    3    3    2    1    3    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27561722    1    1    0    0    0    1    0    2    2    5  ...    1    1

          172  173  174  175  176  177  178  179
27561722    0    0    1    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27579390    1    1    1    2    1    1    1    2    1    1  ...    4    6

          172  173  174  175  176  177  178  179
27579390    0    1    0    7    5    1    1   13

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27921572    2    1    2    2    1    2    2    3    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27921572    0    0    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27965456   20   26   29   43   52   53   63   66   56   49  ...   11    6

          173  174  175  176  177  178  179  180
27965456    6    8   10    4   11    6    6    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27966611   72  114   67   57   44   51   49   32   29   26  ...    0    0

          172  173  174  175  176  177  178  179
27966611    1    0    1    2    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26998194    3    3    0    2    0    0    0    0    0    0  ...    1    0

          172  173  174  175  176  177  178  179
26998194    0    2    3    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27581403    7    4   10    4    6    6   12    7   13   10  ...    1    0

          172  173  174  175  176  177  178  179
27581403    1    0    1    2    1    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979094    2    3    0    0    6    7   10   11   11    9  ...    0    0

          172  173  174  175  176  177  178  179
27979094    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27925927    2    4    5   13    8    9   13   24   19   28  ...    9    8

          172  173  174  175  176  177  178  179
27925927   10    8    9   18    7   10    6   10

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934180   28   41   45   50   75   72   99   77  108   88  ...   48   45

          173  174  175  176  177  178  179  180
27934180   37   47   42   43   46   45   32    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27548039    1    0    0    0    2    1    0    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27548039    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560789    1    0    2    0    1    1    1    2    1    3  ...    0    0

          172  173  174  175  176  177  178  179
27560789    0    0    1    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27940749    7    9   11   44   20   27   10   27   25   42  ...   14   14

          173  174  175  176  177  178  179  180
27940749   14   16   15   14   13   15   14    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27594185   10   10    5   16   14   12   11   17   14   19  ...    0    0

          172  173  174  175  176  177  178  179
27594185    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27577550   35   37   52   66   55   60   49   44   46   47  ...    1    1

          172  173  174  175  176  177  178  179
27577550    3    2    2    0    1    1    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21203304   13   14   14   21   21   19   19   23   15   18  ...   13   16

          173  174  175  176  177  178  179  180
21203304   14   12   13   19   28   12   16    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27542702    1    0    0    0    1    0    0    0    0    0  ...    1    2

          172  173  174  175  176  177  178  179
27542702    1    1    1    1    1    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27606891    7    6    6    6    9    7    5    7    7    7  ...    0    2

          173  174  175  176  177  178  179  180
27606891    1    0    1    2    2    2    8    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27943042    1    3    7    6    7    6    7    8    7    6  ...    0    1

          173  174  175  176  177  178  179  180
27943042    1    2    0    1    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957779    1    1    3    7    3    4    3    5    3    4  ...    0    1

          172  173  174  175  176  177  178  179
27957779    0    0    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894040    1    1    1    3    3    4    4    2    6    4  ...    3    3

          172  173  174  175  176  177  178  179
27894040    7    4    6    4    3    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20644393    8    7    9    8   11   10    9    9   12    8  ...    4    2

          173  174  175  176  177  178  179  180
20644393    4    0    4    2    5    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27965907    3    4    4    4    8   11   17   13   13   15  ...    8    5

          173  174  175  176  177  178  179  180
27965907    5    5    8    9   13   10    0    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27549870    1    2    8    6    9    8    7    6    7    7  ...    0    2

          172  173  174  175  176  177  178  179
27549870    0    1    0    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27569551    1    0    0    1    0    1    0    0    0    0  ...    0    0

          173  174  175  176  177  178  179  180
27569551    1    3    2    0    0    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27583639    1    0    3    1    2    2    2    1    4    2  ...    3    2

          173  174  175  176  177  178  179  180
27583639    3    3    2    2    4    1    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27971754    2    0    4    5    3    5    3    3    1    3  ...    0    0

          172  173  174  175  176  177  178  179
27971754    0    1    0    1    0    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21568516   11   17   13    7   11   11   12    9   13   12  ...    7   18

          172  173  174  175  176  177  178  179
21568516   14   10   13   12   15    9   14   13

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21083740    1    3    1    2    1    2    3    2    1    3  ...    1    5

          173  174  175  176  177  178  179  180
21083740    1    3    0    2    1    4    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25777390    1    9    8    6    6    6    8    8    6    7  ...    0    0

          172  173  174  175  176  177  178  179
25777390    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27947755   23   30   49   65   52   59   59   69   66   92  ...   15   18

          173  174  175  176  177  178  179  180
27947755   19   17   18   21   20   25   20    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926426    1    0    1    4    1    3    1    5    1    3  ...    1    0

          172  173  174  175  176  177  178  179
27926426    1    1    1    0    1    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977127    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27977127    0    0    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27552074    1    1    1    1    1    1    0    1    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27552074    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938630    1    1    1    2    1    3    2    5    4    4  ...    2    4

          172  173  174  175  176  177  178  179
27938630    3    3    3    4    4    4    4    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27921413    2    2    0    1    3    4    9    8   15   12  ...    0    0

          172  173  174  175  176  177  178  179
27921413    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27550111    2    4    3    1    0    0    3    6    2    5  ...    0    0

          172  173  174  175  176  177  178  179
27550111    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908888    2    7    9    8    9    7    8    9    4    1  ...    0    0

          172  173  174  175  176  177  178  179
27908888    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908877    2    1    7    1    1    6   13   31   27   55  ...   20   16

          173  174  175  176  177  178  179  180
27908877   13   14   19   16   13   13   22    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936027    1    2    1    3    2    2    2    3    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27936027    1    2    1    2    2    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27544004  115  168  142  140  132  143  162  155  172  143  ...    6   10

          173  174  175  176  177  178  179  180
27544004    6    7    6   13    3    7    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545468    1    0    0    0    0    0    0    0    0    0  ...    2    3

          173  174  175  176  177  178  179  180
27545468    4    2    4    3    1    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27546607    5    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27546607    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21948887    2    2    1    0    1    1    1    2    2    1  ...    2    0

          172  173  174  175  176  177  178  179
21948887    1    1    1    2    2    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27956260    1    3    2    2    2    3    3    1    4    0  ...    4    6

          173  174  175  176  177  178  179  180
27956260    1    2    0    2    3    1    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896736    3    2    7    5    3    3    6    2    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27896736    5    0    0    1    3    9    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949426    2    2    3    3    3    3    4    2    2    5  ...    6    7

          173  174  175  176  177  178  179  180
27949426    9    8    8    7    8    9    9    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980632    3    0    4    2    5    3    3    1    2    3  ...    0    0

          172  173  174  175  176  177  178  179
27980632    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27549939   21   12   24   16   20   21   22    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27549939    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26022934    2    3    0    1    2    2    9    1    2    4  ...    3    2

          172  173  174  175  176  177  178  179
26022934    4    2    2    1    2    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27953456    4    3    3    6    6   12   15   11   13   13  ...    1    0

          172  173  174  175  176  177  178  179
27953456    0    1    1    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27913099    1    1    1    0    2    2    3    4    3    4  ...    2    1

          172  173  174  175  176  177  178  179
27913099    1    0    2    1    1    1    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27953481    2    4    9   13   10    8   12   12    6   11  ...    0    1

          172  173  174  175  176  177  178  179
27953481    1    0    0    1    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27964575    1    0    0    0    0    0    1    5    2   10  ...    0    1

          172  173  174  175  176  177  178  179
27964575    2    1    1    1    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27904295    1    2    1    2    3    5    4    3    4    0  ...   15    9

          173  174  175  176  177  178  179  180
27904295   14    9   14   16   12   10    8   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27561084   19   20   17   19   20   20   20   24   25   27  ...   25   29

          173  174  175  176  177  178  179  180
27561084   27   26   47   33   29   23   28    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27891067    6    9   10   19   19   34   35   50   25   31  ...   52   27

          173  174  175  176  177  178  179  180
27891067   42   33   48   22   13   18   39    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27956262    9    2    2    1    2    0    0    0    1    2  ...    7    7

          172  173  174  175  176  177  178  179
27956262    7    9    6    3    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27555490   17   21   14   17   20   15   18   15   16   17  ...    6    5

          172  173  174  175  176  177  178  179
27555490    7    3    8    6    7    3    6    6

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27946071    2    3    3    2    2    2    2    3    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27946071    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27900756    1    1    8    6   13   60   16   27   21   27  ...    8   16

          173  174  175  176  177  178  179  180
27900756   15   15   14   13   14   12   17   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949430   10   11  110   71   61  122  123   97  142   90  ...    3    4

          173  174  175  176  177  178  179  180
27949430    4    4    4    5    5    7    7    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27941285    1    1    1    2    1    2    1    1    2    2  ...    3    4

          172  173  174  175  176  177  178  179
27941285    2    4    1    3    3    3    2    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27586347    3    6    8   11    7   10   14    9   10    6  ...    4    4

          173  174  175  176  177  178  179  180
27586347    5    5    4    5    4    4    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979068    5   16   12   12   16   15   16   14    9   10  ...    0    0

          172  173  174  175  176  177  178  179
27979068    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936970    1    0    2    0    0    1    0    0    0    0  ...    0    1

          172  173  174  175  176  177  178  179
27936970    0    0    0    0    0    2    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27569157    1    0    1    0    0    5    4    5    4    4  ...    2    1

          172  173  174  175  176  177  178  179
27569157    2    1    1    0    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25051046    3    7    6    9    9    4   13    4   14   12  ...    7    8

          173  174  175  176  177  178  179  180
25051046    9    7    6    4    3    6   13    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25026580    3    5    5    5    5    4    5    5    5    5  ...    7    4

          173  174  175  176  177  178  179  180
25026580    7    6    3    6    5    6    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27934183    2    0    0    1    1    3    2    1    1    3  ...    2    2

          172  173  174  175  176  177  178  179
27934183    5    4    3    2    3    3    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27942773    3    3    6    7    6    7   15   15   19   17  ...    1    1

          172  173  174  175  176  177  178  179
27942773    1    0    1    1    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27575230    1    0    0    0    0    1    0    0    0    2  ...    0    0

          172  173  174  175  176  177  178  179
27575230    1    0    0    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27552076    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27552076    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27554361    2    1    0    0    0    0    1    0    2    1  ...    1    1

          173  174  175  176  177  178  179  180
27554361    1    0    0    1    1    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27921411    4    5    5    6    6    5    4    6    6    3  ...    0    0

          172  173  174  175  176  177  178  179
27921411    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908732    2    1    1    2    1    1    0    5    1    3  ...    1    1

          172  173  174  175  176  177  178  179
27908732    2    1    3    2    4    2    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27528043    3    8   16   17   16    8    8   13   13    9  ...   10    9

          173  174  175  176  177  178  179  180
27528043    8    8   13    8    7    9    7    8

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27897990    1    1    4    6   14   16   18   18   22   18  ...    1    1

          172  173  174  175  176  177  178  179
27897990    0    0    0    1    2    0    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27546567    1    1    3    9   13    9   12    7   14   12  ...    7    8

          173  174  175  176  177  178  179  180
27546567    8    7    6    5    8    7    7    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27928637    4    8    4    4    6    9   10    5    5    5  ...    0    3

          172  173  174  175  176  177  178  179
27928637    0    0    0    0    3    0    0    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27961237    1    1    1    2    2    1    5    0    3    1  ...    0    0

          172  173  174  175  176  177  178  179
27961237    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27897589    4   16   10    9    9    8    9    9    6    6  ...    0    0

          172  173  174  175  176  177  178  179
27897589    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27891113    6   10   12   13   17   24   44   44   20   40  ...    0    0

          172  173  174  175  176  177  178  179
27891113    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908256    8    8   17   23   29   36   36   37   48   65  ...    6    3

          173  174  175  176  177  178  179  180
27908256    3    4    9    3    4    5    6    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27558956    1   18    5    6    3    4   11    6    2    8  ...    2    2

          173  174  175  176  177  178  179  180
27558956    3    2    4    3    3    1    3    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27570758    1    0    0    0    0    0    0    0    0    0  ...    2    3

          173  174  175  176  177  178  179  180
27570758    0    0    2    2    2    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27563719    1    1    3    6    3    1    3    3    3    8  ...    2    1

          172  173  174  175  176  177  178  179
27563719    1    2    1    1    4    1    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978997   46   71   83   88  127  199  132  170  110  186  ...    0    0

          172  173  174  175  176  177  178  179
27978997    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21104176   30   43   65   33   56   41   40   24   46   37  ...   39   45

          173  174  175  176  177  178  179  180
21104176   68   35   24   64   47   50   34    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957790    3    4    5    3    6    8    7    8    7   10  ...    3    0

          172  173  174  175  176  177  178  179
27957790    4    1    2    1    2    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27952415    1    0    2    1    0    0    0    0    2    4  ...    4    3

          173  174  175  176  177  178  179  180
27952415    3    8    4    6    5    4    6    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27559693    3    3    5    2    3    2    2    2    2    3  ...    2    2

          173  174  175  176  177  178  179  180
27559693    3    2    2    2    3    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915951   21   28   28   33   27   19   19   29   31   32  ...    1    0

          172  173  174  175  176  177  178  179
27915951    0    0    0    1    0    0    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21254289    5    8    0    3    1    0    2    1    1    2  ...    1    4

          172  173  174  175  176  177  178  179
21254289    1    2    1    0    1    1    3    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567635    1    0    0    1    1    0    0    0    0    0  ...    0    1

          172  173  174  175  176  177  178  179
27567635    1    0    0    1    1    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21252997   76   51  105   49   87   63   67   92   58  110  ...   78  113

          173  174  175  176  177  178  179  180
21252997   90   86   82   77   66  122  117   11

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
24658887   23   30   14   17   37   30   20   37   24   28  ...   36   34

          172  173  174  175  176  177  178  179
24658887   33   37   27   40   34   48   40   24

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908135   39   54   69   69   80   88  104  128  117  135  ...  955  909

          173  174  175  176  177  178  179  180
27908135  889  918  927  835  871  845  846  113

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27958064    1    0    1    0    7    5    7    5    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27958064    0    0    0    1    2    5    3    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915170   19   26   26   28   36   50   45   52   51   68  ...   11    7

          173  174  175  176  177  178  179  180
27915170    6    7    5    5    8    8    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27570361    7    7   18   21   10   14   11   11   15   14  ...    3    5

          172  173  174  175  176  177  178  179
27570361    3    5    1    3    1    1    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27548615    4    0    1    3    3    7    6    2   13   27  ...   24   28

          173  174  175  176  177  178  179  180
27548615   24   28   22   34   27   27   25    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545457    2    0    3    1    0    1    1    2    0    1  ...    1    2

          172  173  174  175  176  177  178  179
27545457    2    0    0    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547240    1    0    0    0    0    0    0    5    5    5  ...    7    5

          172  173  174  175  176  177  178  179
27547240    7    6    5    6    6    6    8    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27546610   50   74   79   90  105  180  186  280  281  231  ...  444  433

          173  174  175  176  177  178  179  180
27546610  473  384  424  374  440  445  512   47

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27909001    5    5    5    4    5    4    6    6    4    5  ...    0    0

          173  174  175  176  177  178  179  180
27909001    1    0    0    1    0    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27565208    1    1    3    5    4    2    4    5    1    4  ...    1    1

          172  173  174  175  176  177  178  179
27565208    1    2    1    1    3    1    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21251939    1    0    0    0    0    1    0    0    0    0  ...    4    4

          172  173  174  175  176  177  178  179
21251939    6    3    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27931549    1    1    3    0    0    2    2    2    6    3  ...    2    0

          172  173  174  175  176  177  178  179
27931549    2    0    1    2    1    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22236558    4    7    7    7    7    9    9    7    8    6  ...    4    2

          172  173  174  175  176  177  178  179
22236558    2    2    5    1    2    3    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27549721    1    1    0    0    0    0    0    0    0    0  ...    3    4

          173  174  175  176  177  178  179  180
27549721    6    4    6    3    5    4    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27579184    3    2    0    1    1    1    0    0    2    0  ...    0    1

          172  173  174  175  176  177  178  179
27579184    0    0    1    0    1    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896916    1    0    0    0    0    3    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27896916    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27933366   10   13   13   12   14   14   18   12   13   16  ...  430  395

          173  174  175  176  177  178  179  180
27933366  483  423  337  386  433  380  439   97

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559293    3   10    7    6    7    6    8    6    6    6  ...    0    0

          172  173  174  175  176  177  178  179
27559293    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545862  110  124  133  117  140  123  147  163  155  159  ...   46   50

          173  174  175  176  177  178  179  180
27545862   57   47   36   46   36   49   44    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27570167    1    0    0    0    0    1    0    0    0    0  ...    1    3

          173  174  175  176  177  178  179  180
27570167    0    1    2    2    0    0    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27924342   58   30   35   34   31   40   37   75   15   33  ...    2    4

          173  174  175  176  177  178  179  180
27924342    4    2    8    7   16   11   13    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27930337    1    0    0    1    1    1    2    0    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27930337    0    0    0    0    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27546614    1    0    1    1    1    0    1    0    0    0  ...    2    1

          172  173  174  175  176  177  178  179
27546614    2    5    3    1    3    3    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27947168    3    2    2    1    3    0    3    1    1    0  ...    1    2

          172  173  174  175  176  177  178  179
27947168    1    1    1    1    1    1    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27907558    4    3    8   11   10   17   16   18   14   17  ...    8   10

          173  174  175  176  177  178  179  180
27907558   11    7   10   10    8   12   10    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27951865    1    0    0    1    2    2    1    0    0    1  ...    0    1

          172  173  174  175  176  177  178  179
27951865    0    0    0    0    0    2    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26176755    2    2    3    4    0    0    2    1    3    9  ...    2    6

          173  174  175  176  177  178  179  180
26176755    1    3    3    6   10    9    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912974    6    9   11   12   10   12    9   12    3    0  ...    1    0

          172  173  174  175  176  177  178  179
27912974    0    2    0    0    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27971223    4   12   10    9    8   10    9   10   11   10  ...    4    3

          173  174  175  176  177  178  179  180
27971223    7    5    4    5    5    7    5    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27963814    3    0    0    0    0    0    0    0    0    0  ...    4    0

          172  173  174  175  176  177  178  179
27963814    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27912021    2    2    2    2    1    3    6    6    4    5  ...    2    3

          172  173  174  175  176  177  178  179
27912021    0    3    0    1    3    2    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21383264    5    3    4    7   15    7   18   50   28   45  ...   16   18

          173  174  175  176  177  178  179  180
21383264   15   16   22   15   12    8   12    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926384    4   22   37   38   36   30   22   22   14   17  ...    3    3

          172  173  174  175  176  177  178  179
27926384    1    3    2    1    1    4    3    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27960662    1    2    1    1    1    1    2    2    3    2  ...    0    1

          172  173  174  175  176  177  178  179
27960662    1    1    3    4    2    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27776431   74   97   97  135  130  131  126  136  140  124  ...   32   32

          173  174  175  176  177  178  179  180
27776431   32   27   31   37   33   30   34    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21609619    8   19   12   14   14   16   14   23   11   18  ...   35   32

          173  174  175  176  177  178  179  180
21609619   32   26   22   27   23   31   22    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926145    2    3    3    3    4    3    2    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27926145    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
18163163    1    2    4    3    3    4    2    4    4    3  ...    4    3

          173  174  175  176  177  178  179  180
18163163    3    4    2    2    4    4    3    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545916    6   10   45   53   36   59   65   48   47   75  ...   43   42

          173  174  175  176  177  178  179  180
27545916   32   36   42   38   44   39   38    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27579989    2    1    0    2    7    7    7   13   15   14  ...    7    5

          173  174  175  176  177  178  179  180
27579989    7    7    2    4    4    4    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962920    1    0    0    0    0    0    1    0    2    4  ...    0    0

          172  173  174  175  176  177  178  179
27962920    0    0    0    1    0    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27897572   31   39   37   37   41   46   75   38   37   37  ...    0    1

          172  173  174  175  176  177  178  179
27897572    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545917    2    1    2    1    1    1    1    3    0    3  ...    1    4

          172  173  174  175  176  177  178  179
27545917    2    1    2    2    2    3    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27954263    3    3    3    2    2    1    2    1    3    1  ...    2    0

          172  173  174  175  176  177  178  179
27954263    0    2    1    1    2    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27584144    5    1    6    7    3    4    7    5    3   11  ...    5    4

          172  173  174  175  176  177  178  179
27584144    5    4    5    6    2    5    1    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934568    4    5   11    9   15   11   14   18   17   17  ...    3    3

          173  174  175  176  177  178  179  180
27934568    2    4    3    5    6    4    0    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27582247    2    5    3    0    0    1    6    5    5    2  ...   39   43

          172  173  174  175  176  177  178  179
27582247   42   39   38    9    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27583159    1   15   22   43   44   40   44   40   44   38  ...    4    1

          173  174  175  176  177  178  179  180
27583159    3    1    1    4    1    3    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27956892    2    0    1    2    0    1    1    1    0    0  ...   15   15

          173  174  175  176  177  178  179  180
27956892   16   16   17   15   16   14   14    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27550856    1    0    1    2    2    1    1    3    2    4  ...    1    0

          173  174  175  176  177  178  179  180
27550856    1    1    0    2    0    2    1    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27892620    1    2    2    1    0    1    2    1    1    0  ...    0    2

          173  174  175  176  177  178  179  180
27892620    1    1    2    1    1    3    0    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949965    1    0    0    0    0    0    0    0    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27949965    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25671724    2    0    0    1    0    0    1    1    2    0  ...    1    1

          172  173  174  175  176  177  178  179
25671724    0    0    1    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27557644    1    0    1    1    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27557644    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926352    1    0    0    0    0    1    2    2    2    2  ...    0    0

          172  173  174  175  176  177  178  179
27926352    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27964798    1    1    8    2    3    0    0    3    3    8  ...    2    0

          172  173  174  175  176  177  178  179
27964798    1    5    3    2    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27919029   31    0    1   38   39   40   40   42   43   42  ...    2    2

          173  174  175  176  177  178  179  180
27919029    3    3    2    2    1    3    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27963975    2    6    7   12   17   14   12   15   14   20  ...    2    3

          172  173  174  175  176  177  178  179
27963975    1    2    3    1    3    2    4    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21725053    4    5    5    4    5    7    4    4    5    3  ...   11    4

          173  174  175  176  177  178  179  180
21725053    3    3    5    3    5    2    4    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27586357    5    9   14   12   16   22   29   36   34   28  ...   40   38

          173  174  175  176  177  178  179  180
27586357   34   45   36   42   34   37   38    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27908681    3   13   14   18   16   16   14   23   26   28  ...    5    1

          173  174  175  176  177  178  179  180
27908681    2    2    2    3    1    6    1    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27555641    1    0    0    1    0    1    1    0    0    0  ...    0    1

          173  174  175  176  177  178  179  180
27555641    1    1    1    0    0    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27976411   17    4   12    8    6   14   10   13    9    8  ...    0    0

          172  173  174  175  176  177  178  179
27976411    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27555133    2    0    0    1    1    1    0    0    0    0  ...    2    2

          173  174  175  176  177  178  179  180
27555133    1    2    2    3    1    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27898735   21   29   39   45   43   57   64   54   71   59  ...    6    7

          172  173  174  175  176  177  178  179
27898735    9   11    4   10    6    7    7    9

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27564661    1    2    2   10    1    5    4    4    2    5  ...    1    1

          173  174  175  176  177  178  179  180
27564661    0    1    0    0    1    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27911111    1    0    1    1    3    1    0    2    1    2  ...    3    4

          173  174  175  176  177  178  179  180
27911111    3    4    4    2    2    4    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27975483    1    5    3    3    2    2    4    0    1    3  ...    1    2

          172  173  174  175  176  177  178  179
27975483    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27906337   16   25   18   22   21   19   21   24   19   20  ...    2    2

          173  174  175  176  177  178  179  180
27906337    3    3    2    1    3    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27410123    2    4    3    4    4    5    3    3    4    6  ...    0    0

          172  173  174  175  176  177  178  179
27410123    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27890396   17   31   29   28   35   37   36   55   39   69  ...   61   62

          173  174  175  176  177  178  179  180
27890396   60   54   63   59   62   50   43    8

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896083    1    0    3    2    3    0    2    2    1    1  ...    1    1

          172  173  174  175  176  177  178  179
27896083    2    1    1    1    2    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567381    2    1    0    1    0    0    1    4    4    1  ...    1    0

          172  173  174  175  176  177  178  179
27567381    0    2    0    2    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27953485    1    0    0    0    2    0    0    2    1    6  ...    0    0

          172  173  174  175  176  177  178  179
27953485    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27579183    1    0    2    0    2    4    4    3    5    3  ...    3    0

          173  174  175  176  177  178  179  180
27579183    2    0    2    1    2    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27975442    4    5    4    5    5    5    1    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27975442    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27551182    3    1    2    7    9   14    4    2    3   15  ...    5    7

          173  174  175  176  177  178  179  180
27551182    4    8    4    5   10    3    2    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980622   49   78   60   61   65   78  111  100  137  108  ...    0    0

          172  173  174  175  176  177  178  179
27980622    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553781    7   10    8    9    7    7    8   10   10    6  ...    0    1

          172  173  174  175  176  177  178  179
27553781    0    0    1    0    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979287    4    5    5    5    5    5    5    5    5    6  ...    0    0

          172  173  174  175  176  177  178  179
27979287    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
25768854    1    3    3    2    3    1    1    1    1    2  ...    2    1

          172  173  174  175  176  177  178  179
25768854    0    2    0    1    3    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27898737    7   10   10   22   20   45   32   26   26   41  ...    1    1

          172  173  174  175  176  177  178  179
27898737    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545861    2   27   25   20   22   27   30   45   48   50  ...   21   19

          172  173  174  175  176  177  178  179
27545861   29   22   21   26   25   23   22   21

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27910782    2    0    1    1    1    0    1    9    7    3  ...    0    0

          172  173  174  175  176  177  178  179
27910782    0    0    0    1    0    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27916481    1    1    0    0    0    1    3    4   13   14  ...    0    0

          172  173  174  175  176  177  178  179
27916481    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545444    3   11   14   14   10   25    8   16   21   20  ...    1    0

          172  173  174  175  176  177  178  179
27545444    0    0    0    0    0    0    2    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553597    1    0    0    1    0    1    3    0    0    1  ...    0    1

          172  173  174  175  176  177  178  179
27553597    0    0    0    0    0    0    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22011399    2    4    3    2    4    4    2   13    8    8  ...    3    3

          172  173  174  175  176  177  178  179
22011399    3    3    6    3    7    4    3    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566538    2    0    0    4    2    1    1    0    0    0  ...    7    6

          172  173  174  175  176  177  178  179
27566538    3    3    3    6    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27913506    8   10   19   47   25   31   27   23   17   18  ...    0    0

          172  173  174  175  176  177  178  179
27913506    1    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547441    3    2    5   11    8    5    7    4    6    9  ...    1    0

          172  173  174  175  176  177  178  179
27547441    0    0    0    0    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27548982   13   12   12   18   19   16   17   18   16   20  ...    4    5

          173  174  175  176  177  178  179  180
27548982    2    4    5    4    4    5    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559657    8   13    3    0    0    0   11    2   10    2  ...    0    0

          172  173  174  175  176  177  178  179
27559657    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27923566    3    7    4    4    6    5    6    5    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27923566    2    0    0    1    0    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27942826    1    4    8    9    9    9   10   11    9   10  ...    0    0

          172  173  174  175  176  177  178  179
27942826    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27570574    1    0    0    0    0    1    0    0    0    1  ...    1    0

          172  173  174  175  176  177  178  179
27570574    1    1    0    1    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977309    2    1    3    2    5    9    7    7    8   12  ...    0    0

          172  173  174  175  176  177  178  179
27977309    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27553622    3    6    7    6    9    8    5    4    6    6  ...    1    7

          173  174  175  176  177  178  179  180
27553622    3    2    4    2    4    1    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27930730    3    3    3    2    3    4    5    4    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27930730    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27776432    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27776432    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25162703   29   12   12   29   26   13    9   28   14   12  ...   13   14

          173  174  175  176  177  178  179  180
25162703    6   10   10    8   18   25    8    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27550471    2    7    4   10   19   10   13   10   16   12  ...    9   13

          172  173  174  175  176  177  178  179
27550471   12   17    7    9    4    7    8    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27968215   19   19   19   23   20   23   19   21   21   29  ...    1    1

          172  173  174  175  176  177  178  179
27968215    0    2    0    1    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977453    1    1    1    1    0    0    0    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27977453    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27968573   45   55   86  140  161  124  183  155  155  233  ...  661  742

          173  174  175  176  177  178  179  180
27968573  751  751  654  690  614  701  672  130

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26021356    1    1    1    1    1    0    1    1    1    1  ...    1    0

          173  174  175  176  177  178  179  180
26021356    1    2    1    1    0    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980971    2    1    2    2    3    4    8   10   11   11  ...    0    0

          172  173  174  175  176  177  178  179
27980971    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27943084    6    6   10   15   20   25   28   28   29   31  ...    0    0

          172  173  174  175  176  177  178  179
27943084    0    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27563722    1    4    3    4    3    5    5    3    2    2  ...    2    1

          172  173  174  175  176  177  178  179
27563722    1    1    1    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21308056    2    2    1    1    3    1    1    2    2    1  ...    1    1

          173  174  175  176  177  178  179  180
21308056    1    0    0    1    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917402   40   46    0    0    1    0    7    1    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27917402    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27975287   27   30   43   51   66   70   58   42   40   51  ...    6    3

          172  173  174  175  176  177  178  179
27975287    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27565408    1    0    0    0    0    0    0    1    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27565408    0    1    0    0    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27549684    2    0    2    3    2    2    0    2    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27549684    0    1    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...   171  172  \
27576474   21   41   41   45   54   71   86   76   67   68  ...  1015  904

          173  174  175  176  177  178  179  180
27576474  954  966  925  887  949  972  876  184

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27900631    3    1    3    2    5    5    5    6    3    4  ...    0    0

          172  173  174  175  176  177  178  179
27900631    0    0    1    0    0    0    0    2

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917359    1    3    1    0    1    1    2    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27917359    0    0    0    0    0    5    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27584621   16   26   15   43   13   12   18   14   21   10  ...    0    0

          172  173  174  175  176  177  178  179
27584621    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27948846    3    0    0    4   25   32   36   39   36   42  ...    0    0

          172  173  174  175  176  177  178  179
27948846    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27950238    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27950238    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27585932   39   58   71   87  100  128  133  167  161  210  ...  768  772

          173  174  175  176  177  178  179  180
27585932  732  687  715  744  705  766  770   89

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27910146    1    0    3    2    5    0    0    1    5    6  ...    0    0

          173  174  175  176  177  178  179  180
27910146    1    1    1    1    0    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27945609    2    0    4    2    2    1    3    8    8   19  ...    0    0

          172  173  174  175  176  177  178  179
27945609    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27947778    7    3   11   10   20   31   28   25   29   37  ...    7   11

          173  174  175  176  177  178  179  180
27947778   10    9    6    8    8    9    7    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21124897    4    2    2    4    3    2    4    3    2    4  ...    3    3

          173  174  175  176  177  178  179  180
21124897    3    4    2    4    3    3    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567141    1    1    3    3    3    5    3    9    6   11  ...    2    1

          172  173  174  175  176  177  178  179
27567141    2    2    3    1    2    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27562987    5    0    1    3    0    1    0    4    0    1  ...    1    2

          172  173  174  175  176  177  178  179
27562987    2    2    1    3    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27546825   16   15   29   34   31   19   25   33   30   41  ...    7   20

          172  173  174  175  176  177  178  179
27546825   26    7    0    3    1    1    1    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27925923   22   43   37   47   68   72   85   86  139  106  ...   52   87

          173  174  175  176  177  178  179  180
27925923   63   54   46   47   81   51  100    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25806997    1    3    2    2    1    4    2    4    1    3  ...    1    2

          173  174  175  176  177  178  179  180
25806997    1    3    2    2    2    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27943481    4    6   10   13   13    6    9   12    5    1  ...    5    5

          173  174  175  176  177  178  179  180
27943481    6    5    6    9    3    6    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545445    3    2    5    0    1    2    2    3    2    2  ...    1    7

          172  173  174  175  176  177  178  179
27545445    0    2    2    2    1    1    8    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27553227    1    1    3    0    2    7    6    6    4    4  ...   29   20

          173  174  175  176  177  178  179  180
27553227   19   19   19   19   19   22   10   10

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27558366    2    0    0    0    2    0    0    2    0    0  ...    0    2

          173  174  175  176  177  178  179  180
27558366    1    1    4    2    5   10    7    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545860    4    2   27   25   20   22   27   30   45   48  ...   21   19

          173  174  175  176  177  178  179  180
27545860   29   22   21   26   25   23   22    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545874    3    2    5    4    6    4    9    8   15    4  ...    0    0

          173  174  175  176  177  178  179  180
27545874    0    0    4    7    6    5   19    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21585706    2    3    1    4    2    2    3    1    2    2  ...    1    1

          172  173  174  175  176  177  178  179
21585706    2    2    1    2    3    0    2    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27916899    2    2    4    3    2    1    4    2    1    1  ...    1    0

          172  173  174  175  176  177  178  179
27916899    0    0    1    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27902860    1    2    2    2    2    0    0    0    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27902860    0    0    0    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27546467    2    1    3    6    8    6    3    5    3    6  ...    9    7

          173  174  175  176  177  178  179  180
27546467    8   10    9    5    7    8    9    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27921713   14   22   27   53   63   72   65   44   37   61  ...    0    4

          172  173  174  175  176  177  178  179
27921713    1    2    1    1    1    2    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27963246    4    8    6    7   12   18   29   29   37   37  ...   11   12

          173  174  175  176  177  178  179  180
27963246   20   10   15   10   10    9   10    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
24994349    4    5    3    5    5    4    4    6    5    5  ...    4    4

          173  174  175  176  177  178  179  180
24994349    4    4    4    4    5    3    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977582    1    0    0    2    0    1    2    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27977582    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27939821    2    0    3    2   14    5    7    5   14   10  ...    5    5

          173  174  175  176  177  178  179  180
27939821    5    8    6    4    5    4    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27893638    1    0    1    0    0    1    1    1    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27893638    0    0    0    0    0    0    1    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896740    1    0    0    1    0    0    0    1    0    0  ...    6   11

          172  173  174  175  176  177  178  179
27896740    5    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27583908    1    0    0    0    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27583908    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27550007    1    3    1    2    0    1    4    7   17   19  ...    0    1

          173  174  175  176  177  178  179  180
27550007    0    0    2    1    0    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
22321509   18   30   26   32   29   26   24   22   28   28  ...   40   31

          173  174  175  176  177  178  179  180
22321509   33   27   27   29   27   24   27    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565080  302  374  370  376  408  404  449  431  441  488  ...  275  242

          173  174  175  176  177  178  179  180
27565080  236  257  219  217  225  262  258   39

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27936723    9   13   16   20   60   74   36   30   35   78  ...    5    5

          173  174  175  176  177  178  179  180
27936723    5    5    4    5    5    3    4    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27583505    8    0    0    0    0    1    0    5   11    5  ...    0    0

          172  173  174  175  176  177  178  179
27583505    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979020   35   47   71   75   92   97   92  117   69   92  ...    0    0

          172  173  174  175  176  177  178  179
27979020    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27585835    2    0    0    0    0    0    1    1    2    2  ...    1    1

          172  173  174  175  176  177  178  179
27585835    0    1    0    2    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565719   22   31   24   49   36   52   69   76   58   57  ...   16   15

          173  174  175  176  177  178  179  180
27565719   12   17   14   20   12   16   13    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908632    4    5    4    4    5    6    4    5    4    5  ...    0    0

          172  173  174  175  176  177  178  179
27908632    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27557783    1    1    2    0    0    2    0    1    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27557783    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27266077    1    0    2    2    4    0    1    1    1    1  ...    0    2

          172  173  174  175  176  177  178  179
27266077    0    2    1    0    1    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27916587    1    4    0    0    0    1    1    1    0    1  ...    0    0

          173  174  175  176  177  178  179  180
27916587    1    0    0    1    0    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27920021    1    3    7    5    5    5    6    6    6    6  ...    3    4

          173  174  175  176  177  178  179  180
27920021    3    5    4    3    4    3    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565651    2   12   21   12   12   17   25   33   22   11  ...    4    5

          173  174  175  176  177  178  179  180
27565651    4    4    5    3    4    5    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27939028    2    0    0    0    0    0    0    0    0    2  ...    1    2

          173  174  175  176  177  178  179  180
27939028    1    2    1    2    2    1    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27975578    1    1    0    1    0    2    1    0    1    0  ...    1    0

          172  173  174  175  176  177  178  179
27975578    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27579913    2    1    1    0    0    0    1    3    8    9  ...    0    1

          173  174  175  176  177  178  179  180
27579913    0    2    0    0    1    2    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27585216    9    9    8    7    9    6    8    7    9    7  ...    0    0

          172  173  174  175  176  177  178  179
27585216    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27558063    2    4    6   16   15   11   11    9   16   22  ...    2    1

          172  173  174  175  176  177  178  179
27558063    1    1    2    1    2    1    4    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949518    5    5    8   10   12   13   15   15   18   14  ...    1    1

          172  173  174  175  176  177  178  179
27949518    0    2    2    0    2    1    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547194    1    0    3    2    4    1    1    0    0    0  ...    1    5

          172  173  174  175  176  177  178  179
27547194    2    2    1    1    4    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27577725    2    4    4    4    3    5    5    5    3    5  ...    3    3

          172  173  174  175  176  177  178  179
27577725    3    0    1    0    3    4    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27954574    4    8    9   12   17   21   26   24   26   37  ...    9    8

          173  174  175  176  177  178  179  180
27954574    6    7    8    7    5    6    9    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908551    1    0    3    0    0    2    0    1    2    4  ...    0    0

          172  173  174  175  176  177  178  179
27908551    0    0    1    1    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27939954    1    0    3    1    4    6    3    6    2    6  ...    1    0

          172  173  174  175  176  177  178  179
27939954    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27962944    1    3    0    1    2    4    8   12   16   21  ...    3    6

          173  174  175  176  177  178  179  180
27962944   12    7    2    5    6    9    3    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27969622    6    6    6    6    5    7    5    5    6    5  ...    0    0

          172  173  174  175  176  177  178  179
27969622    0    0    0    1    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926647    2    0    0    0    0    0    0    1    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27926647    0    0    0    0    0    0    0    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926121    3    4    1    1    1    3    2    2    2    1  ...    2    1

          172  173  174  175  176  177  178  179
27926121    0    1    1    2    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27914805   45   73   61  108   61   63   83   85   74   95  ...   90   83

          173  174  175  176  177  178  179  180
27914805   86   83   88   86   81   89   84   15

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27550416    1    0    0    0    1    0    0    1    1    1  ...    2    0

          172  173  174  175  176  177  178  179
27550416    1    1    0    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949055    1    2    3    4    5    6    6    6    5    7  ...    2    0

          173  174  175  176  177  178  179  180
27949055    1    1    1    1    1    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27940071   11    1   16    5   15   15   19   11    1   60  ...   46    8

          173  174  175  176  177  178  179  180
27940071   10   12    9   60    6   52    5   58

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27942672   13   19   21   28   29   52   78   96  111  118  ...   22   15

          173  174  175  176  177  178  179  180
27942672   15   23   15   13   17   14   16    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21393775   30   25   18   33   22   37   24   23   26   32  ...   28   33

          173  174  175  176  177  178  179  180
21393775   24   28   30   41   22   30   28    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27918226    1    0    0    0    0    1    1    0    3    0  ...    2    1

          173  174  175  176  177  178  179  180
27918226    0    1    1    0    0    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27575319    2    0    0    2    9   11    8    7    5    8  ...    0    2

          172  173  174  175  176  177  178  179
27575319    1    2    2    0    1    2    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27564572    2    0    0    0    0    0    1    4    0    0  ...    2    2

          172  173  174  175  176  177  178  179
27564572    2    1    1    2    1    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977178    4    2    4    6    5    3    2    2    3    3  ...    0    0

          172  173  174  175  176  177  178  179
27977178    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
23675865    4    6   13    4    9   11   35   37   10   12  ...    1   10

          173  174  175  176  177  178  179  180
23675865    8    7    7    6    4   13    9    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27585983    7   12   11   15   20   22   23   21   19   21  ...    2    0

          172  173  174  175  176  177  178  179
27585983    1    0    3    2    0    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27923501    1    0    0    0    0    2    1    1    2    2  ...    2    2

          172  173  174  175  176  177  178  179
27923501    8    2    6    4    6    5    3    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27958992    2    1    1    1    2    2    5    7   11   14  ...    0    0

          172  173  174  175  176  177  178  179
27958992    0    0    1    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957323    7   10   10    8    9    8    7    2    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27957323    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27895704   10   13   15   23   26   26   24   25   28   24  ...   30   22

          173  174  175  176  177  178  179  180
27895704   31   35   34   33   37   36   34    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21212337   11   15   22   17   16   13   12   14   17   10  ...   14   10

          173  174  175  176  177  178  179  180
21212337    8   10   10   10   10    9    7    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565081  280  374  370  375  408  398  439  423  431  475  ...  245  209

          173  174  175  176  177  178  179  180
27565081  214  227  188  194  197  233  230   53

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27555397    1    0   10   12   10    0    7   15    5   11  ...    4    1

          172  173  174  175  176  177  178  179
27555397    0    0    5    0    3    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27969959   24   32   32   84   88   37   37   21  116   25  ...    7    4

          173  174  175  176  177  178  179  180
27969959    4    7    4    1    5    3    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545812    6    0    1    1    0    0    3    1    2    3  ...    2    2

          172  173  174  175  176  177  178  179
27545812    0    1    2    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27548311    2   14    7    9   12    9    4   11   20   15  ...    8    4

          173  174  175  176  177  178  179  180
27548311   10   12    4    7    5    7    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917288    2    7    4    6   14   11   11   12   14   13  ...    0    5

          172  173  174  175  176  177  178  179
27917288    6    6    6    5    7    7    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
24069444   12    6    8    3    6    4    3    7    6    6  ...    5    5

          173  174  175  176  177  178  179  180
24069444    4    7    6    5    6    5    6    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27561973    2    5    5    9   10   10    6    8    7    9  ...    0    0

          172  173  174  175  176  177  178  179
27561973    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27584055    1    0    0    0    0   10    8    6    7   54  ...   25   30

          173  174  175  176  177  178  179  180
27584055   24   24   29   23   24   28   28    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27969768    1    1    5   16   15   12   24   22   22   27  ...    2    1

          172  173  174  175  176  177  178  179
27969768    0    0    1    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27566978   13   18   26   25   24   27   21   24   23   28  ...   10   10

          173  174  175  176  177  178  179  180
27566978    3    7    6    7    8   11    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27965146    1    3    4    3    3    4    3    3    3    4  ...    0    4

          172  173  174  175  176  177  178  179
27965146    0    1    0    1    0    1    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27928708    1    3    4    3    3    4    4    3    4    3  ...    0    0

          172  173  174  175  176  177  178  179
27928708    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551656    3    4    4    5    6    7    8    6    5    1  ...    1    0

          172  173  174  175  176  177  178  179
27551656    1    0    0    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560460    1    0    0    0    0    0    0    1    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27560460    1    0    0    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27926916    2    4    1    4    4    3    2    3    3    2  ...    1    0

          172  173  174  175  176  177  178  179
27926916    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27565530    1    3    6    5    3    5    4    6    5    9  ...    0    0

          172  173  174  175  176  177  178  179
27565530    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20790968    7   15   14   14   13   14   11   13   15   15  ...   12   11

          173  174  175  176  177  178  179  180
20790968    9   11   11   13   10   11   10    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962359    1    0    2    2    5    9   12   13   79   16  ...    6    5

          172  173  174  175  176  177  178  179
27962359    5    6    4    6    5    3    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567870    1    1    1    4    4    5    7    3    1    2  ...    0    2

          173  174  175  176  177  178  179  180
27567870    0    0    0    0    0    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980486    1    1    0    0    4    9   14   15   11   12  ...    0    0

          172  173  174  175  176  177  178  179
27980486    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27936734    2    3    2    7    5    5    5    8    7   10  ...    1    1

          173  174  175  176  177  178  179  180
27936734    1    1    0    0    1    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567694    1    1    2    0    0    0    0    1    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27567694    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27560676    1    0    0    0    0    1    6   15   18   19  ...    0    0

          172  173  174  175  176  177  178  179
27560676    0    0    0    0    1    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27568564    6    1    2    4    1    5    5    3    5    2  ...    2    1

          172  173  174  175  176  177  178  179
27568564    1    1    1    2    1    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27929984    4    4    4    6   12    6   12    6    6    6  ...    7   10

          173  174  175  176  177  178  179  180
27929984   12   12   10    8   11    9   13    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27551508   15   26   13   26   27   29   31   31   25   49  ...    8   11

          173  174  175  176  177  178  179  180
27551508    9    8   13   13    8   13   11    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27914387    1    0    0    0    0    0    0    0    0    1  ...    2    3

          173  174  175  176  177  178  179  180
27914387    0    1    3    1    1    2    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949731    1    2    3    2    4    2    0    1    2    2  ...    0    0

          172  173  174  175  176  177  178  179
27949731    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
22015788    3    5    4    4    5    4    5    4    5    5  ...    0    6

          173  174  175  176  177  178  179  180
22015788    2    2    4    4    5    5    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571141   20   16   11   18   32   28   34   28   34   44  ...   35   36

          173  174  175  176  177  178  179  180
27571141   31   26   18   23   20   26   21    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938447    1    0    0    0    2    0    2    2    1    1  ...    2    3

          172  173  174  175  176  177  178  179
27938447    2    0    1    0    1    1    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27926123    5    4    3    3    2    4    2    6    5   18  ...    3    1

          173  174  175  176  177  178  179  180
27926123    1    1    0    3    2    1    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27944995    1    6   11   12   10   12    9   16   10   14  ...    3    4

          173  174  175  176  177  178  179  180
27944995    3    5    3    3    4    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957725    2    1    1    0    2    1    1    4    7   10  ...    0    0

          172  173  174  175  176  177  178  179
27957725    1    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27545794   35   33   71  166   72  175  133  269  224  236  ...  233  229

          173  174  175  176  177  178  179  180
27545794  272  251  290  238  290  255  258   56

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27577726    6    9    7    7   12    8   11    8    9    8  ...    2    5

          172  173  174  175  176  177  178  179
27577726    2    2    3    3    3    1    2    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27980727    1    0    0    0    3    1    0    3    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27980727    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27889717    3    4    2    1    2    2    2    4    6    2  ...    0    1

          172  173  174  175  176  177  178  179
27889717    0    0    0    0    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27902043    2    2    2    2    2    2    3    3    3    1  ...    3    1

          173  174  175  176  177  178  179  180
27902043    2    2    2    3    2    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27892444    3    4    4    3   10    9   14   14   15   12  ...    1    3

          173  174  175  176  177  178  179  180
27892444    0    1    3    0    0    2    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27580387    3    3    3    2    2    2    2    4    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27580387    0    0    0    0    0    0    0    1

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566170    1    1    1    1    0    2    0    0    2    1  ...    0    1

          172  173  174  175  176  177  178  179
27566170    0    1    0    0    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27965782    1    1    1    0   19   19    2    2    2    3  ...    0    0

          173  174  175  176  177  178  179  180
27965782    0    0    2    0    1    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27894948    7   10   10   13   16   23   22   21   21   20  ...    3    3

          173  174  175  176  177  178  179  180
27894948    2    2    2    3    4    3    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27968259    1    0    3    2    5    5    5    5    5    8  ...    5    3

          172  173  174  175  176  177  178  179
27968259    5    3    4    2    5    6    4    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27963442    1    0    4    2    0    2    1    0    1    2  ...    0    0

          172  173  174  175  176  177  178  179
27963442    1    0    0    2    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27947292    5   12   12   13   14   15   17   12   13   13  ...    0    0

          172  173  174  175  176  177  178  179
27947292    2    0    1    1    1    0    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27554673    1    1    1    0    0    0    0    1    4    1  ...    1    0

          172  173  174  175  176  177  178  179
27554673    1    0    2    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20607220    3    2    2    3    6    3    2    3    5    3  ...    3    6

          172  173  174  175  176  177  178  179
20607220    7    6    6   10    6    8    4    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27908778    2    7    4    4    6    3    5    4    3    5  ...    3    4

          172  173  174  175  176  177  178  179
27908778    4    3    4    4    3    4    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27949056    5    7    4    4    4    4    8    4    5    5  ...    0    0

          172  173  174  175  176  177  178  179
27949056    0    0    1    1    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22548651    7    3    7    4    2    4    2    3    5    7  ...    9    6

          172  173  174  175  176  177  178  179
22548651    6   10    8    7   20    7   12    8

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
80130089    1    1    3    3    2    2    1    3    5    1  ...    0    0

          172  173  174  175  176  177  178  179
80130089    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27552028   12    9    9   10   11   13   10    8    9    8  ...    3    4

          172  173  174  175  176  177  178  179
27552028    3    3    2    4    7    2    3    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27903981    2    9   10    7    9    7    5   10    3    7  ...    1    3

          172  173  174  175  176  177  178  179
27903981    0    4    0    4    4    2    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27568203    1    1    4    8    1    3    8   10   14   13  ...    3    0

          172  173  174  175  176  177  178  179
27568203    1    1    2    1    1    3    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545385    1    0    0    2    1    0    1    1    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27545385    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27575246    1    0    0    0    1    3    0    0    8    4  ...    1    4

          172  173  174  175  176  177  178  179
27575246    3    1    4    3    3    2    3    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
26024855    3    1   14    6    1    2    3    2    1    1  ...   12   13

          172  173  174  175  176  177  178  179
26024855   13   14   15   14   14    9   21    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27917076    1   14    9   14   36   36   35   35    5    1  ...    4    4

          173  174  175  176  177  178  179  180
27917076    6    4    6    5    5    3    5    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565069    1    1    0    0    1    0    0    0    1    0  ...    3    3

          173  174  175  176  177  178  179  180
27565069    4    2    3    1    2    4    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27569135    9    0    0    0    1    0    0    0    4    2  ...    0    0

          172  173  174  175  176  177  178  179
27569135    0    1    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27906184    2    2    2    2    2    3    1    3    1    1  ...    1    1

          172  173  174  175  176  177  178  179
27906184    1    1    0    1    1    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27934888   24   36   37   63   47  140   75  118  109  173  ...  147  121

          173  174  175  176  177  178  179  180
27934888  145  139  105  165   94  117  115   60

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27935572    2    2    1    2    4    3   10    2    7    8  ...    5    5

          172  173  174  175  176  177  178  179
27935572    8    4    7    6    8    7    7    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27968661    3    3    2    5    3    5    5    1    7    4  ...    0    0

          172  173  174  175  176  177  178  179
27968661    0    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27573804    1    1    0    2    1    0    1    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27573804    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27892915    1    1    0    7    5    5    6   13    6    6  ...    1    4

          172  173  174  175  176  177  178  179
27892915    4    3    4    3    0    3    4    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553929   10   22   24   29   29   28   29   35   49   25  ...    0    0

          172  173  174  175  176  177  178  179
27553929    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27541493    2    0    0    1    0    0    0    2    1    1  ...   16   17

          173  174  175  176  177  178  179  180
27541493   19   17   23   18   21    8   15    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545805    9   11   12   14   13   17   13   11   13   15  ...    5    4

          172  173  174  175  176  177  178  179
27545805    5    2    1   11    2    1    1    0

[1 rows x 180 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27557554    1    0    0    0    1    2    0    0    0    0  ...    2    2

          172  173  174  175  176  177  178  179
27557554    2    1    3    0    3    3    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27972413   65   88  101  104   97  110  144  142  165  109  ...   23   34

          173  174  175  176  177  178  179  180
27972413   31   26   35   33   32   32   30    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27963244    3    4    8    7    3    9   21   39   22   35  ...    2    8

          173  174  175  176  177  178  179  180
27963244    2    2    2    2    3    2    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545626    6    8    0    6    0    0    0    0    0    0  ...    0    0

          172  173  174  175  176  177  178  179
27545626    1    0    0    1    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27571597    2    0    0    0    1    2    1    1    2    0  ...    1    0

          172  173  174  175  176  177  178  179
27571597    1    3    2    0    1    2    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27574389    1    1    4    8    9    8    6    8    5    5  ...    0    1

          172  173  174  175  176  177  178  179
27574389    0    1    1    0    0    1    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
26619579    1    0    0    0    0    0    0    0    0    0  ...    0    0

          173  174  175  176  177  178  179  180
26619579    0    0    3    3    3    4    3    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27969792    6    4    6    2    6    5    7   17    7    6  ...   10   10

          173  174  175  176  177  178  179  180
27969792   12   10   12   11    9   12   10    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27547970   11   16   20   19   25   24   31   22   24   26  ...   19   12

          173  174  175  176  177  178  179  180
27547970   13   16   11   14   11   15   11    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27917270   14   21   37   23   29   35   41   41   48   52  ...   17   27

          173  174  175  176  177  178  179  180
27917270   24   20   23   26   21   26   20    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27962360   10   22   21   22   22   21   24   24   21   39  ...    5    3

          172  173  174  175  176  177  178  179
27962360    5    2    3    3    4    5    4    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27551323    1    0    0    1    1    2    0    1    0    2  ...    0    0

          172  173  174  175  176  177  178  179
27551323    0    0    0    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27581314    5    3    7    8    5    5    5   11    4    8  ...    4    1

          173  174  175  176  177  178  179  180
27581314    3    4    0    4    1    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
20646668    1   11    4    6    9    9    8   12   10    8  ...    7   11

          173  174  175  176  177  178  179  180
20646668    5    9    7    4    7    7    9    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27575524    3    1    5    4    4    4    5    9    3    5  ...   12   11

          173  174  175  176  177  178  179  180
27575524   11   10   18    9   11   13   14    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915881    3    2    3    7    9   16   10   20   13   26  ...   18   16

          173  174  175  176  177  178  179  180
27915881   17   17   16   17   16   17   14    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27561223    3    4    8   10   11    9    8    8   11   11  ...    1    1

          172  173  174  175  176  177  178  179
27561223    1    3    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894435    1    6    2    1    4    2    3    2    4    2  ...    0    0

          172  173  174  175  176  177  178  179
27894435    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27576011    2    3    4    6    7    5    6    4    6    6  ...    0    1

          172  173  174  175  176  177  178  179
27576011    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917700    1    2    2    3    0    1    0    5    7    9  ...    0    0

          172  173  174  175  176  177  178  179
27917700    0    2    0    0    3    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27907507    3    9   19   23   27   24   34   33   36   37  ...    5    3

          173  174  175  176  177  178  179  180
27907507    8    7    1    5    3    7    8    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27559179   12   14    6    6    7    8    7    7    5    2  ...    0    0

          172  173  174  175  176  177  178  179
27559179    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27964103    3    6    0    0    1    9    9    7    6    6  ...    2    2

          173  174  175  176  177  178  179  180
27964103    5    4    2    3    2    1    0    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27586527    1    0    1    0    0    0    0    1    2    0  ...    0    1

          172  173  174  175  176  177  178  179
27586527    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571805   18   19   21   25   37   36   41   63   92  101  ...   10   11

          173  174  175  176  177  178  179  180
27571805    9    7   11    4    5    4    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27577521    1    1    0    1    4    0    0    1    0    1  ...    1    2

          172  173  174  175  176  177  178  179
27577521    1    1    2    2    1    1    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27565131    3    1    2    1    2    5    2    5    2    3  ...    0    1

          172  173  174  175  176  177  178  179
27565131    0    1    0    0    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27895677   72  106  125  154  191  192  215  247  235  268  ...  131  123

          173  174  175  176  177  178  179  180
27895677  108  106  126  111  114  108  105   17

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27938683    5    7    9   11   14   11   10   10    5    3  ...    1    2

          173  174  175  176  177  178  179  180
27938683    1    2    2    2    0    1    1    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27943231    4    4    3    4    0    1    1    2    1    1  ...    1    2

          173  174  175  176  177  178  179  180
27943231    2    2    2    2    2    1    1    1

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567295    1    0    0    0    0    1    0    1    0    2  ...    1    0

          172  173  174  175  176  177  178  179
27567295    0    0    2    0    0    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938318    1    0    4    0    0    0    0    0    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27938318    0    0    1    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27946188   29   37   37   34   35   32   40   45   38   30  ...    4    3

          172  173  174  175  176  177  178  179
27946188    4    3    2    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957708    4    6    7    6    5    8    8    5    8    7  ...    3    4

          172  173  174  175  176  177  178  179
27957708    4    3    2    3    4    2    5    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27567530    4    0    2    9   18   25   22   24   15   15  ...    5    5

          172  173  174  175  176  177  178  179
27567530    8    5    3    6    3    3    4    7

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27952116    4    1    4    3    3   14   13   10   10    5  ...    1    0

          172  173  174  175  176  177  178  179
27952116    2    1    1    0    0    1    2    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27566174    1    1    0    0    0    0    0    0    0   10  ...    0    0

          172  173  174  175  176  177  178  179
27566174    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27894019    2    1    0    6    8   10   12   11   16   12  ...    0    1

          172  173  174  175  176  177  178  179
27894019    1    0    0    0    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
18050508    7    6    7    7   10    5    8    8    7    7  ...    5    3

          172  173  174  175  176  177  178  179
18050508    5    5    4    3    5    2    5    4

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27909649    2    0    1    3    0    0    4    0    0    0  ...    0    1

          173  174  175  176  177  178  179  180
27909649    0    0    1    1    0    1    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571421   13   17   26   31   38   36   31   28   43   47  ...   19   13

          173  174  175  176  177  178  179  180
27571421   18   13   19   11   23   15   19    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27549627   11   12   11   33   22   41   18   30   25   27  ...    1    1

          172  173  174  175  176  177  178  179
27549627    8   11   10   11   11   10   11    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27965036    1    1    2    2    2    7    2    3    1    5  ...    1    0

          172  173  174  175  176  177  178  179
27965036    1    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27891835    5    0    2    6    2    3    5    3    5    3  ...    1    1

          173  174  175  176  177  178  179  180
27891835    1    0    1    1    0    1    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27919894    3    1    1    2    1    2    6    6    9    5  ...    3    3

          173  174  175  176  177  178  179  180
27919894    2    2    1    1    2    1    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27899702    1    0    1    0    0    0    1    0    0    2  ...    1    1

          172  173  174  175  176  177  178  179
27899702    1    1    2    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27561430   79   97  180  181  202  204  282  340  335  335  ...  789  791

          173  174  175  176  177  178  179  180
27561430  756  790  769  790  800  825  777   87

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27975999    2    0    0    0    0    0    0    0    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27975999    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27979153    4    1    1    1    1    2    1    6    1    0  ...    0    0

          172  173  174  175  176  177  178  179
27979153    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27973318    3    0    1    1    2    5   10   13   15   19  ...    1    1

          172  173  174  175  176  177  178  179
27973318    4    4    0    1    1    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
20646047    1    2    1    1    1    2    0    3    1    1  ...    0    1

          172  173  174  175  176  177  178  179
20646047    1    0    0    1    0    2    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27936122    3    3    3    5    4    2    6    4    3    2  ...    2    0

          172  173  174  175  176  177  178  179
27936122    0    2    0    0    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27539713    2    0    0    0    0    0    0    0    0    0  ...    0    1

          173  174  175  176  177  178  179  180
27539713    0    2    2    1    1    2    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27898568    1    0    0    0    0    0    3   10    2    1  ...    1    1

          173  174  175  176  177  178  179  180
27898568    0    0    1    0    1    0    0    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27981039    7    5    6   14    5    1    6    4    4    6  ...    0    0

          172  173  174  175  176  177  178  179
27981039    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27910052    6    0    0    0    0    0    1    0    1    0  ...    1    2

          173  174  175  176  177  178  179  180
27910052    2    1    1    2    2    1    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27968664    3    7    7    5    8   11    8    7    5    7  ...    3    5

          173  174  175  176  177  178  179  180
27968664    1    2    2    1    1    2    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27553253   18   25   30   29   26   46   45   28   51   48  ...   18   19

          173  174  175  176  177  178  179  180
27553253   15   18   16   24   17   22   17    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27587764  397  470  588  542  573  536  517  475  532  529  ...   53   91

          173  174  175  176  177  178  179  180
27587764   69   58   62   62   66   75   59   13

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27556459    1    0    5    6    4    7    3   11    1    3  ...   23   28

          173  174  175  176  177  178  179  180
27556459   28   27   34   26   33   39   37    3

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545814    2    1    3   25   27   29   24   35   24   30  ...    0    2

          172  173  174  175  176  177  178  179
27545814    2    0    2    0    0    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
21140815    1    2    0    0    3    3    0    2    0    2  ...    0    0

          173  174  175  176  177  178  179  180
21140815    4    0    1    0    4    6    6    4

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553910    1    8   10    8    9    7    8   12   10   11  ...    5    6

          172  173  174  175  176  177  178  179
27553910    2    6    4    3    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27976894    1    0    0    1    0    0    1    0    0    1  ...    0    0

          172  173  174  175  176  177  178  179
27976894    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27582378    1    0    1    1    2    2    1    2    0    1  ...    1    0

          172  173  174  175  176  177  178  179
27582378    1    0    1    0    1    2    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896786   63   77   70   80   78   88  105  113   96   95  ...    5    9

          172  173  174  175  176  177  178  179
27896786   13    3    4    6    2    1    4    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27557553   11    8   12   18   16   15   27   30   13   10  ...   12    9

          173  174  175  176  177  178  179  180
27557553   15   12   12   12    9   14   11    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27974717    1    0    0    0    0    0    0    0    0    1  ...    2    1

          172  173  174  175  176  177  178  179
27974717    2    3    3    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27950689    1    0    0    0    1    0    1    0    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27950689    0    0    0    1    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27582352    1    5    6    6    2    0    0    0    0    0  ...    1    1

          172  173  174  175  176  177  178  179
27582352    1    1    2    1    3    1    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27896989    8   13   18   14   14   14   12   12   13   15  ...    8    9

          172  173  174  175  176  177  178  179
27896989   11    9    3    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27941035    9    9   11   10   11   10   10   10    4    1  ...    0    0

          172  173  174  175  176  177  178  179
27941035    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27957125   38    0   46   33   47   92   44   37   82   46  ...    2    2

          172  173  174  175  176  177  178  179
27957125    0    2    0    2    2    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27906183    2    2    2    2    2    3    2    3    5    4  ...    2    3

          173  174  175  176  177  178  179  180
27906183    2    3    3    3    4    3    3    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27552615    1    1    2    1    1    1    1    1    1    1  ...    0    2

          173  174  175  176  177  178  179  180
27552615    2    1    2    1    2    1    0    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27955295    3    1    2    6    6    8    9   20   14   14  ...   10   14

          173  174  175  176  177  178  179  180
27955295    7    9   13    9   11   10   12    5

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27567889   36   58   57   69   78   82   99   92  129  134  ...    3    4

          173  174  175  176  177  178  179  180
27567889    2    4    5    4    4    4    4    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547581    6   11   18   20   33   25   31   26   30   49  ...    3    3

          172  173  174  175  176  177  178  179
27547581    1    2    3    2    3    0    3    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27902454   20   21   25   16   14   18   13   18   18   21  ...   12    8

          173  174  175  176  177  178  179  180
27902454   11    6    9    8    9   13    5    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27915100    2    0    4    2    2    2    0    2    3    2  ...    3    1

          172  173  174  175  176  177  178  179
27915100    0    3    0    2    0    0    1    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27575269   26   35  161   74   83  147  124  169  277  175  ...  272  235

          173  174  175  176  177  178  179  180
27575269  233  231  221  224  182  295  245   36

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27959478    1    0    0    0    0    2    0    2    3    4  ...    0    0

          173  174  175  176  177  178  179  180
27959478    2    0    0    0    0    4    8    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27569654    3    5    7    2    7    4    6    5   16   18  ...    0    5

          172  173  174  175  176  177  178  179
27569654    0    0    1    1    0    0    1    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27915114    3    5    6   21   21   49   39   51   57   54  ...   21   20

          173  174  175  176  177  178  179  180
27915114   18   21   24   18   19   20   22    6

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27539705    1    3    4    3    7    6   11    5    7   15  ...    0    1

          173  174  175  176  177  178  179  180
27539705    1    2    2    2    0    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25775251   66   66   82   81   91   53   67   66   51   64  ...   75   46

          173  174  175  176  177  178  179  180
25775251   49   57   77   36   42   49   76    8

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27912082   53   77   49   64   79  105  102  103  123  144  ...  146  136

          173  174  175  176  177  178  179  180
27912082  136  122  123  102  134  116   98   14

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27904145    3    3    4    2    4    6    7    4    4    6  ...    6   11

          173  174  175  176  177  178  179  180
27904145    6   11    6   10    7    2    6    9

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27891374    3    4    4    1    4    4    4    5    2    4  ...    0    0

          172  173  174  175  176  177  178  179
27891374    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27548507    1    2    1    0    2    1    1    2    1    2  ...    0    1

          173  174  175  176  177  178  179  180
27548507    0    0    1    0    0    0    1    1

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27933500    2    3    2    8    3    6    3    5    9   13  ...    0    2

          172  173  174  175  176  177  178  179
27933500    3    2    2    2    2    2    1    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27910326   12   66   72   91   84   84   74  102  138  149  ...   15   21

          173  174  175  176  177  178  179  180
27910326   21   15   24   17   24   22   25   14

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27889705    8   10   11   11   13   15   18   19   14   15  ...    0    0

          172  173  174  175  176  177  178  179
27889705    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27917307   14   18   20   20   19   25   34    9    8    7  ...    0    0

          172  173  174  175  176  177  178  179
27917307    1    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27948171   13   13   18   15   26   18   22   12    4   13  ...    1    1

          173  174  175  176  177  178  179  180
27948171    1    3    1    2    4    1    2    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27911004    1    1    2    2    1    2    2    1    2    1  ...    0    0

          172  173  174  175  176  177  178  179
27911004    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27558098    1    3    6    5   12   17   11   14   11   10  ...    1    2

          172  173  174  175  176  177  178  179
27558098    5    1    2    1    1    1    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27571350   11    8   10    6    2    6    6    5    3    8  ...   10    7

          173  174  175  176  177  178  179  180
27571350    8   10    6    7    9   11    7    2

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27907897    4    7   11   10   13   13   11   15   12   14  ...    3    4

          173  174  175  176  177  178  179  180
27907897    2    2    2    2    5    2    2    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27545778    2    1    0    2    1    0    0    0    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27545778    0    0    0    1    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27920541    1    1    1    1    1    1    1    1    1    1  ...    0    0

          172  173  174  175  176  177  178  179
27920541    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27919883    2    0    0    0    1    4    4    5    8    7  ...    4    2

          172  173  174  175  176  177  178  179
27919883    4    0    2    1    3    3    0    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27955445    1    1    2    2    1    2    2    4    3    2  ...    0    0

          172  173  174  175  176  177  178  179
27955445    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27938681    1    0    0    0    0    1    0    0    4    1  ...    1    0

          172  173  174  175  176  177  178  179
27938681    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27977196    3    2    9    4   12   27   21   22   24   24  ...    0    0

          172  173  174  175  176  177  178  179
27977196    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27904144    2    8    4    5    3    4    2    4    6    7  ...    8    4

          173  174  175  176  177  178  179  180
27904144    7    6   11    6   11    6   10    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27577537    3    4    3   20   22   38   35   38   38   39  ...    4    5

          172  173  174  175  176  177  178  179
27577537    7    5    5    7    7    1    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27972993    3    1    2    8    6    9    5    7    6    5  ...    1    1

          172  173  174  175  176  177  178  179
27972993    1    2    1    1    2    1    2    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
21884347    9    6    0    3    4    1    5    2    1    2  ...    1    2

          172  173  174  175  176  177  178  179
21884347    1    8    2    6    1    0    1    5

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27934736    1    0    0    0    2    4    7    4    8    8  ...    1    0

          172  173  174  175  176  177  178  179
27934736    1    0    0    0    0    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
23474278   24   21   13   13   12   70   71   21   17   16  ...   64   30

          173  174  175  176  177  178  179  180
23474278   14   13   12   19   14   15   14    7

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22934063   20   13   40   16   16   27    3   24    3   21  ...   23   13

          172  173  174  175  176  177  178  179
22934063   13    6   12   13   11   10    9    7

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27901612    3    5    3    5    6    6    6    5    5    6  ...    0    0

          173  174  175  176  177  178  179  180
27901612    0    1    0    0    0    0    0    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27569641  163  210  129  163  184  317  417  423  518  513  ...  611  520

          173  174  175  176  177  178  179  180
27569641  560  522  573  478  497  524  507   36

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27968854   19   21   59   59   18   27   53   39   83   40  ...   10    8

          173  174  175  176  177  178  179  180
27968854   14   16   10    9   10   11    7    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27553287    1    0    0    0    0    0    0    2    0    0  ...    1    0

          172  173  174  175  176  177  178  179
27553287    0    1    1    3    1    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27931712    2    2    3    1    2    3    4    3    4    6  ...    0    0

          172  173  174  175  176  177  178  179
27931712    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27978474    6    6    6    7    8    8    8    6   39    8  ...    0    0

          172  173  174  175  176  177  178  179
27978474    0    0    0    0    0    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27586323    2    4    6    6    2    4    0    2    3    0  ...    3    0

          172  173  174  175  176  177  178  179
27586323    0    0    4    6    6    9    6    3

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27949859    6    5    4    5   12    5   17   18   22   20  ...   20   25

          173  174  175  176  177  178  179  180
27949859   22   21   25   23   21   16   21    5

[1 rows x 181 columns]

          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27547966    4    0    1    0    0    0    0    0    0    0  ...    2    3

          172  173  174  175  176  177  178  179
27547966    2    3    2    2    3    0    0    0

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27565537   21   14   33   20   39   28   38   25   31   27  ...   17   13

          173  174  175  176  177  178  179  180
27565537    4    9   12   11   11   18   13    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27563146    1    2    1    3    0    0    3    0    1    4  ...    1    0

          172  173  174  175  176  177  178  179
27563146    0    1    1    0    1    0    0    1

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27936280    2    2    1    1    2    1    1    0    1    1  ...    1    1

          173  174  175  176  177  178  179  180
27936280    1    1    1    2    1    1    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
22084492    1    1    0    2    1    1    2    1    0    1  ...    1    0

          172  173  174  175  176  177  178  179
22084492    0    1    0    1    0    0    0    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27935762    1    0    7    5    6   11   17   20   24   27  ...    9   10

          173  174  175  176  177  178  179  180
27935762   10    9   11   10    7   10    9    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27580544    1    4    3    8   18   15   19   19   23   18  ...    6    4

          173  174  175  176  177  178  179  180
27580544    5    4    8    4    8    3    7    3

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
27957695    3    6    5    3    5    5    0    2    2    1  ...    1    1

          173  174  175  176  177  178  179  180
27957695    0    0    1    0    1    0    1    1

[1 rows x 181 columns]
          0    1    2    3    4    5    6    7    8    9    ...  170  171  \
27580236    1    2    0    1    0    1    3    1    1    0  ...    1    1

          172  173  174  175  176  177  178  179
27580236    0    1    0    0    2    1    1    2

[1 rows x 180 columns]
          0    1    2    3    4    5    6    7    8    9    ...  171  172  \
25679052    5    8    6    7    4    6    9    5    6    9  ...    8    5

          173  174  175  176  177  178  179  180
25679052    7    6    7    8    4    7    6    1

[1 rows x 181 columns]

In [5]:
finalDf.fillna(0,inplace=True)
finalDf = finalDf.astype(int)
finalDf

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
27902699,26,31,29,80,34,62,38,33,33,22,...,46,1,0,0,0,0,8,2,0,0
27935790,1,2,2,1,2,2,1,2,2,1,...,3,3,2,3,2,3,2,1,3,1
27956223,1,1,3,1,0,1,0,1,0,3,...,0,0,0,0,0,0,0,0,0,0
27552143,1,1,0,0,1,0,1,0,1,1,...,1,0,1,0,1,2,0,0,1,1
27955266,4,0,3,2,8,6,9,9,10,7,...,0,1,1,0,0,1,0,1,1,0
27895730,67,88,117,146,133,209,273,324,386,354,...,359,329,328,389,386,344,335,407,370,60
27972815,3,0,6,1,2,3,3,3,1,1,...,2,4,3,3,3,4,2,3,4,2
27567675,5,2,4,15,24,38,42,52,54,52,...,67,69,72,86,105,89,109,72,72,52
27941549,6,6,10,21,28,33,37,42,43,46,...,2,0,1,0,0,1,0,0,1,0
27962390,1,0,6,5,10,13,18,16,14,13,...,0,0,0,0,1,0,0,0,0,0
27962384,4,5,5,4,4,2,2,2,1,3,...,0,0,1,1,0,1,1,1,1,0
27966900,11,5,7,4,2,4,2,2,3,7,...,8,3,4,2,4,0,3,6,1,0
27931694,21,24,20,22,16,22,21,20,22,20,...,11,9,6,8,6,5,3,5,4,2
27979808,5,0,4,5,6,6,14,3,14,12,...,0,0,0,0,0,0,0,0,0,0
27938317,18,1,0,1,2,0,1,0,2,1,...,9,7,8,9,6,4,5,5,6,0
27964454,3,1,2,0,6,7,9,8,9,10,...,2,2,0,2,3,4,1,2,4,4
27965038,2,0,0,1,1,5,6,7,6,6,...,0,0,0,0,0,0,0,0,0,0
27966257,2,0,2,1,4,6,10,12,11,9,...,0,0,0,0,0,0,0,0,0,0
27943772,2,8,11,11,12,6,0,10,11,9,...,0,0,0,0,0,0,0,0,0,0
21789908,5,4,2,7,8,14,15,13,13,16,...,5,5,4,5,2,7,1,3,9,2
27563765,1,2,10,10,7,7,7,6,11,6,...,0,1,1,0,0,0,0,1,0,1
27894017,1,1,8,5,6,6,4,5,2,5,...,2,4,4,2,1,3,1,1,0,0
27962959,22,22,19,18,14,13,16,13,17,8,...,2,0,0,0,0,0,0,1,0,0
27569507,2,8,12,15,20,25,32,33,31,37,...,6,8,2,12,6,5,6,9,7,1
27917336,1,0,1,3,1,2,3,1,3,2,...,2,2,3,2,0,3,0,3,0,0
20831430,1,0,0,0,0,0,0,0,0,0,...,2,0,0,0,2,1,2,2,0,0
27545774,2,1,2,2,3,1,6,1,1,2,...,2,1,0,3,0,0,2,0,15,2
25189096,1,1,2,1,1,1,2,1,1,3,...,0,1,1,1,3,1,0,1,1,0
27545760,6,6,6,11,16,13,26,21,28,41,...,35,23,26,26,24,36,36,25,23,10
27936313,5,8,13,28,27,35,22,37,35,33,...,6,3,4,7,3,3,3,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27920541,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
27919883,2,0,0,0,1,4,4,5,8,7,...,2,4,0,2,1,3,3,0,3,0
27955445,1,1,2,2,1,2,2,4,3,2,...,0,0,0,0,0,0,0,0,0,0
27938681,1,0,0,0,0,1,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0
27977196,3,2,9,4,12,27,21,22,24,24,...,0,0,0,0,0,0,0,0,0,0
27904144,2,8,4,5,3,4,2,4,6,7,...,8,4,7,6,11,6,11,6,10,1
27577537,3,4,3,20,22,38,35,38,38,39,...,5,7,5,5,7,7,1,0,0,0
27972993,3,1,2,8,6,9,5,7,6,5,...,1,1,2,1,1,2,1,2,1,0
21884347,9,6,0,3,4,1,5,2,1,2,...,2,1,8,2,6,1,0,1,5,0
27934736,1,0,0,0,2,4,7,4,8,8,...,0,1,0,0,0,0,0,0,1,0
23474278,24,21,13,13,12,70,71,21,17,16,...,64,30,14,13,12,19,14,15,14,7
22934063,20,13,40,16,16,27,3,24,3,21,...,13,13,6,12,13,11,10,9,7,0
27901612,3,5,3,5,6,6,6,5,5,6,...,0,0,0,1,0,0,0,0,0,1
27569641,163,210,129,163,184,317,417,423,518,513,...,611,520,560,522,573,478,497,524,507,36
27968854,19,21,59,59,18,27,53,39,83,40,...,10,8,14,16,10,9,10,11,7,1
27553287,1,0,0,0,0,0,0,2,0,0,...,0,0,1,1,3,1,0,0,0,0
27931712,2,2,3,1,2,3,4,3,4,6,...,0,0,0,0,0,0,0,0,0,0
27978474,6,6,6,7,8,8,8,6,39,8,...,0,0,0,0,0,0,0,0,0,0
27586323,2,4,6,6,2,4,0,2,3,0,...,0,0,0,4,6,6,9,6,3,0
27949859,6,5,4,5,12,5,17,18,22,20,...,20,25,22,21,25,23,21,16,21,5
27547966,4,0,1,0,0,0,0,0,0,0,...,3,2,3,2,2,3,0,0,0,0
27565537,21,14,33,20,39,28,38,25,31,27,...,17,13,4,9,12,11,11,18,13,3
27563146,1,2,1,3,0,0,3,0,1,4,...,0,0,1,1,0,1,0,0,1,0
27936280,2,2,1,1,2,1,1,0,1,1,...,1,1,1,1,1,2,1,1,1,1
22084492,1,1,0,2,1,1,2,1,0,1,...,0,0,1,0,1,0,0,0,2,0
27935762,1,0,7,5,6,11,17,20,24,27,...,9,10,10,9,11,10,7,10,9,3
27580544,1,4,3,8,18,15,19,19,23,18,...,6,4,5,4,8,4,8,3,7,3
27957695,3,6,5,3,5,5,0,2,2,1,...,1,1,0,0,1,0,1,0,1,1
27580236,1,2,0,1,0,1,3,1,1,0,...,1,0,1,0,0,2,1,1,2,0
25679052,5,8,6,7,4,6,9,5,6,9,...,8,5,7,6,7,8,4,7,6,1

In [6]:
finalDf.to_csv(r'/Users/clausholm/Documents/Python/Master_thesis/Data/Dataset_1000_songs/1000songsDailyPlays.csv', sep=";")